{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>Корзина</li>
		</ul>
	</div>
</div>
{% if  cart.items.all.count == 0 or not cart %}
<div id="tt-pageContent">
	<div class="container-indent nomargin">
		<div class="tt-empty-cart">
			<span class="tt-icon icon-f-39"></span>
			<h1 class="tt-title">КОРЗИНА ПУСТА</h1>
			<p>В Вашей корзине нет товаров.</p>
			<a href="{% url 'newparts' %}" class="btn">ПРОДОЛЖИТЬ ПОКУПКИ</a>
		</div>
	</div>
</div>
{% else %}
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<h1 class="tt-title-subpages noborder">КОРЗИНА</h1>
			<div class="row">
				<div class="col-sm-12 col-xl-8">
					<div class="tt-shopcart-table">
						<table>
							<tbody>
							{% for object in cart.items.all %}
								<tr id="cart-item-{{ object.product.id }}">
									<td>
										<a href="{% url 'remove_from_cart' %}?product_id={{  object.product.id }}" class="tt-btn-close remove-button" data-pk="{{ object.product.id }}"></a>
									</td>
									<td>
										<div class="tt-product-img">
											<img src="{% static 'images/loader.svg' %}" data-src="{% static object.product.get_image_path %}" alt="">
										</div>
									</td>
									<td>
										<h2 class="tt-title">
											<a href="{% url 'detailed' object.product.id %}">{{ object.product.name }}</a>
										</h2>
										<ul class="tt-list-parameters">
											<li>
												<div class="tt-price">
													&#x20bd; {{ object.product.price }}
												</div>
											</li>
											<li>
												<div class="detach-quantity-mobile"></div>
											</li>
											<li>
												<div class="tt-price subtotal">
													&#x20bd; {{ object.item_total }}
												</div>
											</li>
										</ul>
									</td>
									<td>
										<div class="tt-price">
											&#x20bd; {{ object.product.price }}
										</div>
									</td>
									<td>
										<div class="detach-quantity-desctope">
											<div class="tt-input-counter style-01">
												<span class="minus-btn"></span>
												<input type="text" name="quantity" class="cart-item-quantity" data-id="{{ object.id }}" value="{{ object.quantity }}" size="5">
												<span class="plus-btn"></span>
											</div>
										</div>
									</td>
									<td>
										<div class="tt-price subtotal" id="price-subtotal-{{ object.id }}">
											&#x20bd; {{ object.item_total.normalize }}
										</div>
									</td>
								</tr>
							{% endfor %}

							</tbody>
						</table>
						<div class="tt-shopcart-btn">
							<div class="col-left">
								<a class="btn-link" href="{% url 'newparts' %}"><i class="icon-e-19"></i>ПРОДОЛЖИТЬ ПОКУПКИ</a>
							</div>
							<div class="col-right">
								<a class="btn-link" href="{% url 'clear_cart' %}" id="clear-cart"><i class="icon-h-02"></i>ОЧИСТИТЬ КОРЗИНУ</a>
								<a class="btn-link" href="{% url 'cart' %}"><i class="icon-h-48"></i>ОБНОВИТЬ КОРЗИНУ</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-xl-4">
					<div class="tt-shopcart-wrapper">

						<div class="tt-shopcart-box">
							<h4 class="tt-title">
								ОФОРМИТЬ ЗАКАЗ
							</h4>
							<p>Написать пожелания к заказу...</p>
							<form class="form-default" method="get" action=".">
								<textarea class="form-control" rows="7"></textarea>
							</form>
						</div>
						<div class="tt-shopcart-box tt-boredr-large">
							<table class="tt-shopcart-table01">
								<tbody>
									<!--<tr>
										<th>SUBTOTAL</th>
										<td>$324</td>
									</tr>-->
								</tbody>
								<tfoot>
									<tr>
										<th>ИТОГО</th>
										<td id="cart-itogo">&#x20bd; {{ cart.cart_total }}</td>
									</tr>
								</tfoot>
							</table>
							<a href="{% url 'order' %}" class="btn btn-lg"><span class="icon icon-check_circle"></span>ОФОРМИТЬ ЗАКАЗ</a>
						</div>
					</div>

				</div>

			</div>

		</div>
	</div>
</div>
{% endif %}
{% endblock %}