{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}О компании Ducatoparts.ru{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Запчасти</a> </li>
			<li>О Компании</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container about-p">
				<div class="row">
					<div class="col-12">
						<h1 class="title">О нашей компании</h1>
						<h3>Сайт DucatoParts.ru - это проект компании Ангара77</h3>
						<p>Мы специально разделили запчасти по направлениям, чтобы клиентам было удобнее искать на сайте автозапчасти. На сайте <span class="bblue">ducatoparts.ru</span> мы разместили запчасти на Дукато, Джампер, Боксер и Дейли, так как запчасти на эти машины сильно пересекаются.</p>
						<div class="about-img text-center">
							<img src="{% static 'img_company/all_people.jpg' %}" alt="Наш коллектив">
							<label class="about-label">Коллектив нашей небольшой компании</label>
						</div>
						<h3>Почему выгодно работать с нами</h3>
						<h2>1) На рынке запчастей с 2007 года. Опыт - большой!</h2>
						<p>За это время мы поднабрались опыта в запчастях и логистике. Проконсультируем по любому вопросу касательно запчастей, слабых мест, какие бренды лучше брать, чтобы не переплачивать и качество было на уровне.</p>
						<h2>2) Строим долгосрочные отношения с клиентом.</h2>
						<p>Мы очень стараемся помочь каждому нашему клиенту решить его проблему с неисправной машиной. Проводим обучение менеджеров, улучшаем логистику. Бывают, конечно, накладки, менеджеры - люди, ошибаются, но мы стараемся сделать так, чтобы ошибки не повторялись.</p>
						<h3>Вот так оценивают нашу работу клиенты</h3>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/google_business.png' %}" alt="Оценка нашей работы клиентами в Google">
									<label class="about-label">Оценка нашей работы клиентами в Гугл бизнес</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/yandex_business.png' %}" alt="Оценка нашей работы клиентами в Yandex">
									<label class="about-label">Оценка нашей работы клиентами в Яндекс</label>
								</div>
							</div>
						</div>
						<h2>3) Держим на складе более 90% запчастей, а не только расходники</h2>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/sklad_andrey_genrihovich.jpg' %}" alt="Склад фото 1">
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/ware3.jpg' %}" alt="Склад фото 2">
								</div>
							</div>
						</div>
						<p></p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/ware4.jpg' %}" alt="Склад фото 3">
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/ware8.jpg' %}" alt="склад фото4">
								</div>
							</div>
						</div>
						<p>Большой ассортимент на складе - это самая сильная наша сторона. Некоторые позиции Вы найдете только у нас.</p>
						<h2>4) Принимаем возвраты</h2>
						<p>ВСЕГДА идем навстречу клиенту, вернем запчасти, если они не понадобились или не подошли. Строим долгосрочные отношения. Вот емайл директора для особых случаев: <span class="bblue">angara99@gmail.com</span>.</p>
						<h2>5) Отправляем фото и видео запчастей по Вотсап и Вайбер.</h2>
						<p>Перед отправкой запчастей клиенту, особенно в регион, согласовываем с клиентом все вопросы по запчастям, отправляем фото или видео запчастей.</p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/wa_thank.jpg' %}" alt="Работа в вотсап">
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/wa.jpg' %}" alt="Еще работа в вотсап">
								</div>
							</div>
						</div>
						<h2 class="mt-4">6) Есть доставка по Москве и в регионы</h2>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/voditel_gennady.jpg' %}" alt="Наш водитель">
									<label class="about-label">Наш водитель Геннадий грузит запчасти на доставку</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/ware7.jpg' %}" alt="склад фото4">
									<label class="about-label">Собранная посылка клиенту в регион</label>
								</div>
							</div>
						</div>
						<p>Для клиентов из регионов доставка до транспортной компании - бесплатна!</p>
						<h2 class="mt-4">7) Бесплатная свободная парковка!</h2>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/parking.jpg' %}" alt="Парковка фото 1">
									<label class="about-label">Большая парковка прямо около магазина</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/parking2.jpg' %}" alt="Парковка фото2">
									<label class="about-label">Наша парковка</label>
								</div>
							</div>
						</div>
						<h2 class="mt-4">8) Можем привезти кузовные запчасти или агрегаты из Европы под заказ</h2>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/engine1.jpg' %}" alt="Двигатель Дукато бу">
									<label class="about-label">Двигатель Дукато б/у</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/engine2.jpg' %}" alt="Двигатель Дукато восстановленный">
									<label class="about-label">Восстановленный двигатель на Дукато</label>
								</div>
							</div>
						</div>
						<p>В Польше и Литве есть партнеры, которые отправляют нам крупные агрегаты или кузовные запсчасти в Россию. Сроки поставки от 2 недель.</p>
						<h2 class="mt-4">9) Ведем канал на Ютубе</h2>
						<p>На канале рассказываем про запчасти, про бренды, что лучше, что хуже. Принимаем заявки на тему нового видео.</p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<a href="https://www.youtube.com/channel/UCJ97RljnqyAdKKmAc8mvHZw/featured">
									<img src="{% static 'img_company/youtube_channel.jpg' %}" alt="Двигатель Дукато бу">
									</a>
									<label class="about-label">Канал на Ютубе</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<iframe width="560" height="315" src="https://www.youtube.com/embed/iDyLuUTICD8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<label class="about-label">Меняем салонный фильтр на Action</label>
								</div>
							</div>
						</div>
						<p>В Польше и Литве есть партнеры, которые отправляют нам крупные агрегаты или кузовные запсчасти в Россию. Сроки поставки от 2 недель.</p>
						<h2 class="mt-4">10) Просто стараемся быть людьми!</h2>
						<p>Стараемся относиться к клиентам так, как хотели бы, чтобы относились к нам.</p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/office2.jpg' %}" alt="Наши менеджеры">
									<label class="about-label">Менеджеры Олеся и Юлия за работой</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/office1.jpg' %}" alt="Наши менеджеры">
									<label class="about-label">Рабочие будни в офисе</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/evgeny.jpg' %}" alt="Наши менеджеры">
									<label class="about-label">Наш менеджер Евгений</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/olesya.jpg' %}" alt="Наши менеджеры">
									<label class="about-label">Менеджер Олеся</label>
								</div>
							</div>
						</div>
						<p>Желаем Вам хорошего дня и удачи на дорогах!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}



