{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}О компании Ducatoparts.ru{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>О Компании</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="title">О магазине DucatoParts.ru</h1>
						<p>Наша компания с 2007 года занимается продажей запчастей на комерческий транспорт.
							За это время нам удалось сформировать полноценный склад и отличный сервис для клиентов.<p/>
						<p>В основе нашего сервиса стоит человеческое отношение клиенту, поэтому Вы всегда можете расчитывать
							на взаимопонимание и индивидуальный подход</p>
						<p>К тому же, мы используем только прямые поставки, что положительно сказывается на конечной стоимости запчастей.</p>
						<br>
						<h3>Коротко о том, как мы работаем:</h3>
						<h6>Если Вам нужны запчасти, но вы не успеваете до закрытия?</h6>
						<p>Просто позвоните и мы найдем решение. Возможно мы подождем Вас,
							а может быть для Вас будет удобнее, если менеждер заберет запчасти к себе домой ,
							и точно сможет вам их отдать в любое вечернее время</p>
						<br>
						<h6>Что делать если запчасть не понадобилась?</h6>
						<p>Мы можем вернуть запчасти которые вы не использовали, при сохранении товарного вида</p>
						<p>Часто бывает так, что при замене некоторых узлов используются старые детали, например кронштейны или клипсы.
							Наши постоянные покупатели уже знают, что проще купить все и не беспокоиться о том ,
							что мастер в автосервисе при демонтаже сломал парочку старых креплений. Если все обошлось, просто вернете их нам.</p>


					</div>


				</div>

			</div>

		</div>

	</div>

</div>




{% endblock %}



