{% extends 'base.html' %}
{% load static %}

{% block page_title %}Страница с контактами компании Ducatoparts.ru{% endblock page_title %}

{% block page_description %}Наш магазин находится по адресу, Москва Соловьиная Роща д 8{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>Контакты</li>
		</ul>
	</div>
</div>

<div id="tt-pageContent">
	<div class="nomargin container-indent">
<!--contact map start-->

<!--contact map end-->
	</div>
	<div class="container-indent">
		<div class="container">
			<div class="tt-about-col-list">
				<div class="map-area">
                  <div>
					  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d940.6870088332372!2d37.40267952214013!3d55.89140407547924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5389430b4de03%3A0x9bc8057d70bedbb5!2z0JDQvdCz0LDRgNCwINCX0LDQv9GH0LDRgdGC0Lg!5e0!3m2!1sru!2sru!4v1517403237916" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
                  </div>
               </div>
				<div class="row">
					<div class="col-md-6">
						<h5 class="tt-title">КАК ДОБРАТЬСЯ?</h5>
						<div class="width-90">
							Мы находимся на Северо-Западе, ближайшая станция метро - Планерная.
							Маршрутки № 980, 982 - ехать 8-10 минут, остановка "Соловьиная Роща 8"
							1 этаж, синяя дверь
						</div>

					</div>
					<div class="col-md-6">
						<h5 class="tt-title">КОНТАКТЫ</h5>
						<div class="tt-box-info">
							<p>
								<span class="tt-base-dark-color">Адрес:</span> Соловьиная Роща дом 8 корпус 2 офис 9<br>
							</p>
							<p>
								<span class="tt-base-dark-color">Телефон:</span> 8 800 200 99 53
							</p>
							<p>
								<span class="tt-base-dark-color">Часы работы:</span> С 9 до 19 Без выходных
							</p>
							<p>
								<span class="tt-base-dark-color">Почта:</span> <a class="link" href="mailto:angara77@gmail.com">angara77@gmail.com</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
