{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}Доставка из магазина Ducatoparts{% endblock page_title %}

{% block page_description %}Вся информация о доставке по Москве и регионам.{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Запчасти</a> </li>
			<li>Доставка</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container">
				<div class="row about-p">
					<div class="col-md-12">
						<h1 class="title">Доставка запчастей</h1>
						<h2>Доставка по Москве</h2>
						<p>Просто позвоните нам, или закажите звонок. Далее мы согласуем список запчастей, цен, наличия и удобное время для доставки</p>
						<p>Доставка по Москве стоит от <span class="bgreen"> 290 рублей</span></p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/voditel_gennady.jpg' %}" alt="Наш водитель">
									<label class="about-label">Наш водитель Геннадий грузит запчасти на доставку</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/ware7.jpg' %}" alt="склад фото4">
									<label class="about-label">Собранная посылка клиенту в регион</label>
								</div>
							</div>
						</div>
						<h2>Доставка по России</h2>
						<p>По России отправляем любой транспортной компанией по желанию клиента</p>
						<p>Доставка до транспортной компании - по Москве за наш счет.</p>
						<p>Запчасти упаковываем качественно, чтобы дошли целыми и невредимыми.</p>
						<p>Сроки доставки расчитываются примерно 500км пути это 1 день. Если до Вас 1000км то доставка 2 дня.</p>
						<p>Стоимость зависит от транспортной, от <span class="bgreen">500 рублей</span></p>
						<p>Копии грузовых накладных отправляем в день отправки или на следующий, если отправляли поздно вечером.</p>
						<div class="row mt-4">
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/delivery1.jpg' %}" alt="Посылка на отправку">
									<label class="about-label">Собранная посылка на отправку в Екатеринбург</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img src="{% static 'img_company/delivery2.jpg' %}" alt="Посылка на отправку">
									<label class="about-label">Собранная посылка на отправку в Ростов</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
