{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}Страничка о компании{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>Доставка</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="title">Доставка запчастей</h1>


						<h3>Доставка по Москве</h3>

						<p>Просто позвоните нам, или закажите звонок. Далее мы согласуем список запчастей, цен, наличия и удобное время для доставки
							Доставка стоит от 290 рублей</p>
						<br>
						<h3>Доставка по России</h3>
						<br>Вы обращаетесь к нам, или заказываете звонок, для согласования списка запчастей, цен, наличия,
						сроков доставки и так далее.</br>
						<p>После согласования, менеджер выставляет счет и отправляет его на электронную почту.</br>
						Вы оплачиваете счет в банке и мы отправляем Вам Ваш заказ.</br>
						Через день или два (в зависимости от расстояния) Вы получаете заказ.</p>

						<p>Для иногородних клиентов мы предлагаем доставку танспортными компаниями</br>
							Доставка только в те города, где есть филиалы транспортных компаний</p>





					</div>

				</div>
			</div>
		</div>
	</div>
</div>


{% endblock %}
