{% extends 'base.html' %}
{% load static %}

{% block page_title %}Гарантии на товары магазина Ducatoparts.{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Запчасти</a> </li>
			<li>Гарантии</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div>
<!--			<img class="img-mobile" src="{% static 'images/custom/about-img-01.jpg' %}" alt="">-->
			<div class="container about-p">
				<div class="row">
					<div class="col-md-12 mb-3">
						<h1 class="title">У нас лучшие условия <span class="bgreen">Гарантии</span> и <span class="bgreen">Возврата</span></h1>
						<h2>1) Гарантия на запчасти</h2>
						<p>Мы даем гарантию на все запчасти, которые продаем. Сроки разные, в зависимости от вида запчасти. От 2 недель и более, до года.</p>
						<p><span class="bgreen">Во первых:</span> Мы неплохо разбираемся в запчастях. Поэтому делаем все возможное, чтобы продавать именно то, что нужно! Мы также знаем какие производители делают качественные запчасти, а какие нет. Мы для этого и существуем на рынке запчастей, чтобы помогать клиентам ориентироваться в сложном мире ремонта автомобилей.</p>
						<p><span class="bgreen">Во вторых:</span> И все же. Если наш менеджер не уверен и это доставка по Москве или отправка в регион, мы отправляем фото, видео, размеры клиенту для одобрения. Отправляем посылку только после того, как клиент подтвердил, что это именно ТО, что ему нужно. Этим мы экономим время и деньги как клиента, так и свои.</p>
						<p>После отправки посылки в регион, мы так же отправляем фото или номер транспортной накладной для того, чтобы клиент мог отследить передвижение посылки на сайте транспортной компании.</p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img class="about-border" src="{% static 'img_company/transportnaya_nakladnaya.jpg' %}" alt="Транспортная накладная в Казань">
									<label class="about-label">Транспортная накладная клиенту из Казани</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img class="about-border" src="{% static 'img_company/radiator_transit.jpg' %}" alt="Оценка нашей работы клиентами в Yandex">
									<label class="about-label">Отправка радиатора на Транзит клиенту из Ростова</label>
								</div>
							</div>
						</div>

						<h2>2) Гарантия на возврат</h2>
						<p>Бывает так, что мастер в автосервисе ошибся и Вы заказали не ту деталь. Ничего страшного, мы заберем её обратно без лишних вопросов и бумажной волокиты. Можете даже не сохранять чеки, мы храним копии чеков у себя. Единственная просьба - не портите, пожалуйста, внешний вид и упаковку. Ведь тем, кому эта запчасть нужна, будет неприятно покупать ее в упаковке, заляпаной отработанным маслом :). </p>
						<p>Для клиентов из регионов: Если мы неправильно подобрали запчасти, мы оплачиваем транспортные расходы за свой счет.</p>
						<p>Если же Вы передумали или деталь просто не понадобилась, мы её заберем, вернем Вам деньги, но в этом случае транспортные расходы - за Ваш счет.</p>

						<h2>2) Гарантия на оплату</h2>
						<p><span class="bgreen">Во первых:</span> Мы являемся официальным партнером Cбербанка.</p>
						<div class="row">
							<div class="col-12">
								<div class="about-img text-center">
									<img src="{% static 'img_company/sber_online.jpg' %}" alt="Мы партнеры сбербанка">
									<label class="about-label">Вот так можно оплатить наши запчасти в Сбербанк Онлайн</label>
								</div>
							</div>
						</div>
						<p>У нас заключен договор со Сбербанком, в котором указано, что Сбербанк, являясь нашим партнером, отвечает за наши финансовые обязательства перед клиентами.</p>
						<p><span class="bgreen">Во вторых:</span> Мы дорожим своей репутацией и клиентами</p>
						<p>Мы работаем с 2007 года. Все это время мы строили отношения с нашими клиентами, основанные на порядочности и честности. Мы не планируем нарушать эту хорошую традицию, а наоборт, хотим расширять условия гарантии и возврата, чтобы нашим клиентам было удобно и комфортно работать с нами.</p>
						<div class="row">
							<div class="col-6">
								<div class="about-img text-center">
									<img class="about-border" src="{% static 'img_company/google_review.jpg' %}" alt="Оценка нашей работы клиентами в Google">
									<label class="about-label">Оценка нашей работы клиентами в Гугл</label>
								</div>
							</div>
							<div class="col-6">
								<div class="about-img text-center">
									<img class="about-border" src="{% static 'img_company/yandex_review.jpg' %}" alt="Оценка нашей работы клиентами в Yandex">
									<label class="about-label">Оценка нашей работы клиентами в Яндекс</label>
								</div>
							</div>
						</div>
						<p>Мы всегда готовы пойти навстречу клиентам, поэтому если у Вас есть вопросы или пожелания по поводу гарантии звоните, пожалуйста, нам по бесплатному телефону из любого города России <span class="bgreen"> {{ shop_info.shop_tel }}</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
