{% extends 'base.html' %}
{% load static %}

{% block page_title %}Страничка о компании{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>Гарантии</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div>
<!--			<img class="img-mobile" src="{% static 'images/custom/about-img-01.jpg' %}" alt="">-->
			<div class="container">
				<div class="row">
					<div class="col-md-7 mb-3">
						<h1 class="title">Гарантии и Возврат.</h1>

						<p>Мы понимаем, сколько сил и времени отнимает ремонт.</p>
						<p>Поэтому ввели возможность возврата запчастей, чтобы Вы могли сэкономить несколько часов, а иногда даже день.</p>
						</br>
						<h4>Если вдруг:</h4>
						<li>Мастер в сервисе перепутал наименование</li>
						</br>
						<li>Вы приехали в магазин за опорой амортизатора, по приезду выяснилось что проблема может быть также из за втулки
							стабилизатора или износа сайлентблока, в этом случае либо пришлось бы купить лишние детали, чтобы не тратить время,
							либо вернуться к автомобилю и выяснить причину поломки. </li>
						<p>Вы просто можете купить все эти детали, а не понадобившиеся вернуть.</p>
						</br>
						<h4>Как вернуть?</h4>
						<p>Возврат или обмен товара можно сделать в течение 14 дней со дня продажи.</p>
						<p>Просто принесите чек и запчасти в наш магазин</p>
						<p>Если вы точно не уверены в том, что запчасть вам понадобится, постарайтесь сохранить товарный вид запчасти, не рвите и
						не выкидывайте упаковку</p>
						</br>

                      <span>Если вдруг случится так, что запчасть неисправна, мы проводим экспертизу.</span>

                        </br>
                      <p><h4>Не подлежат возврату или обмену:</h4></p>
                          <li>Детали или части кузова, отрезанные по вашим размерам (отрезные детали)</li>
                          <li>Технические жидкости и масла</li>
                          <li>Электрические детали и центральная проводка</li>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
