{% extends 'base.html' %}
{% load static %}
{% block page %}
<div id="tt-pageContent">
	<div class="tt-offset-35 container-indent">
		<div class="container">
<!--			<div class="row tt-services-listing">-->
<!--				<div class="col-xs-12 col-md-6 col-lg-4">-->
<!--					<a href="faq.html" class="tt-services-block">-->
<!--						<div class="tt-col-icon">-->
<!--							<i class="icon-f-48"></i>-->
<!--						</div>-->
<!--						<div class="tt-col-description">-->
<!--							<h4 class="tt-title">FREE SHIPPING</h4>-->
<!--							<p>Free shipping on all US order or order above $99</p>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--				<div class="col-xs-12 col-md-6 col-lg-4">-->
<!--					<a href="faq.html" class="tt-services-block">-->
<!--						<div class="tt-col-icon">-->
<!--							<i class="icon-f-35"></i>-->
<!--						</div>-->
<!--						<div class="tt-col-description">-->
<!--							<h4 class="tt-title">SUPPORT 24/7</h4>-->
<!--							<p>Contact us 24 hours a day, 7 days a week</p>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--				<div class="col-xs-12 col-md-6 col-lg-4">-->
<!--					<a href="faq.html" class="tt-services-block">-->
<!--						<div class="tt-col-icon">-->
<!--							<i class="icon-e-09"></i>-->
<!--						</div>-->
<!--						<div class="tt-col-description">-->
<!--							<h4 class="tt-title">30 DAYS RETURN</h4>-->
<!--							<p>Simply return it within 24 days for an exchange.</p>-->
<!--						</div>-->
<!--					</a>-->
<!--				</div>-->
<!--			</div>-->
		</div>
	</div>
	<div class="container-indent0">
		<div class="container">
			<div class="row flex-sm-row-reverse tt-layout-promo-box">
				<div class="col-sm-12 col-md-6">
					<div class="row">
						<div class="col-sm-6">
							<a href="/zapchasti/ford-transit/" class="tt-promo-box tt-one-child hover-type-2">
								<img src="{% static 'images/transit.jpg' %}" data-src="{% static 'images/transit.jpg' %}" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-small">Форд Транзит</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6">
							<a href="/zapchasti/iveco-daily/" class="tt-promo-box tt-one-child hover-type-2">
								<img src="{% static 'images/iveco.jpg' %}" data-src="{% static 'images/iveco.jpg' %}" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background tt-background2"></div>
										<div class="tt-title-small">Ивеко Дэйли</div>
									</div>
								</div>
							</a>
						</div>
						<div class="col-sm-12">
							<a href="/zapchasti/peugeot-boxer/" class="tt-promo-box tt-one-child">
								<img src="{% static 'images/boxer.jpg' %}" data-src="{% static 'images/boxer.jpg' %}" alt="">
								<div class="tt-description">
									<div class="tt-description-wrapper">
										<div class="tt-background"></div>
										<div class="tt-title-large">Пежо Боксер</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6">
					<a href="/zapchasti/fiat-ducato/" class="tt-promo-box">
						<img src="{% static 'images/3.jpg' %}" data-src="{% static 'images/3.jpg' %}" alt="">
						<div class="tt-description">
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small"></div>
								<div class="tt-title-large">Фиат Дукато</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent1">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title text-left">
				<h1 class="tt-title">Категории</h1>
			</div>
			<div class="tt-tab-wrapper">
				<ul class="nav nav-tabs tt-tabs-default" role="tablist">
					<li class="nav-item">
						<a class="nav-link show active" data-toggle="tab" href="#tt-tab-01" role="tab">ФИАТ ДУКАТО</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab-02" role="tab">ПЕЖО БОКСЕР</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab-03" role="tab">СИТРОЕН ДЖАМПЕР</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab-04" role="tab">ФОРД ТРАНЗИТ</a>
					</li>
					<li class="nav-item">

						<a class="nav-link" src="{% static 'images/product/3.jpg' %}" data-toggle="tab" href="#tt-tab-05" role="tab">ИВЕКО ДЭЙЛИ</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active fade" id="tt-tab-01" role="tabpanel">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-collection-listing slick-animated-show-js">
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/1.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ДВИГАТЕЛЬ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/2.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">КУЗОВ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/3.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ХОДОВАЯ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/4.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ТОРМОЗА</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/5.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">РАСХОДНИКИ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tt-tab-02" role="tabpanel">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-collection-listing slick-animated-show-js">
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/1.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ДВИГАТЕЛЬ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/2.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">КУЗОВ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/3.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ХОДОВАЯ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/4.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">ТОРМОЗА</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/3.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">РАСХОДНИКИ</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tt-tab-03" role="tabpanel">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-collection-listing slick-animated-show-js">
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-10.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Jackets &amp; Outerwear</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-11.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-23.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Pants</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-14.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-16.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Shirts &amp; Tops</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tt-tab-04" role="tabpanel">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-collection-listing slick-animated-show-js">
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-14.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Shirts &amp; Tops</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-10.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Jackets &amp; Outerwear</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-11.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-23.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Pants</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-14.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tt-tab-05" role="tabpanel">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-collection-listing slick-animated-show-js">
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-11.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-23.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Pants</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-27.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Shirts &amp; Tops</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-10.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title"></h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
							<div class="col-2 col-md-4 col-lg-3">
								<a href="#" class="tt-collection-item">
									<div class="tt-image-box"><img src="{% static 'images/product/product-14.jpg' %}" alt=""></div>
									<div class="tt-description">
										<h2 class="tt-title">Sweaters</h2>
										<ul class="tt-add-info">
										</ul>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent1">
		<div class="container container-fluid-custom-mobile-padding">
			<div>
				<h2 class="tt-title">Популярные категории</h2>
			</div>
			<div class="tt-tab-wrapper">
				<ul class="nav nav-tabs tt-tabs-default" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#tt-tab01-01">Тормоза</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab01-02">Топливная система</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab01-03">Двигатель</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tt-tab01-04">Кузов</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="tt-tab01-01">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js mb-3">
							{% for brake in brakes %}
							<div class="col-2 col-md-4 col-lg-3">
								<div class="tt-product thumbprod-center">
									<div class="tt-image-box">
										<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>
										<a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
										<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>
										<a href="{% url 'detailed' brake.id %}">
											<span class="tt-img"><img src="{% static brake.image_path %}" alt=""></span>
											<span class="tt-img-roll-over"><img src="{% static brake.image_path %}" alt=""></span>
											<span class="tt-label-location">
												<span class="tt-label-new">New</span>
											</span>
										</a>

									</div>
									<div class="tt-description">
										<div class="tt-row">
											<ul class="tt-add-info">
												<li><a href="#">тормоза</a></li>
											</ul>
											<div class="tt-rating">
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star-half"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
										<h2 class="tt-title"><a href="{% url 'detailed' brake.id %}">{{ brake.name }}</a></h2>
										<div class="tt-price">
											{{ brake.price }}
										</div>

										<div class="tt-product-inside-hover">
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>
											</div>
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
												<a href="#" class="tt-btn-wishlist"></a>
												<a href="#" class="tt-btn-compare"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}

						</div>
					</div>
					<div class="tab-pane" id="tt-tab01-02">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js">
							{% for fuel_t in fuel %}
							<div class="col-2 col-md-4 col-lg-3">
								<div class="tt-product thumbprod-center">
									<div class="tt-image-box">
										<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>
										<a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
										<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>
										<a href="{% url 'detailed' fuel_t.id %}">
											<span class="tt-img"><img src="{% static fuel_t.image_path %}" alt=""></span>
											<span class="tt-img-roll-over"><img src="{% static fuel_t.image_path %}" alt=""></span>
											<span class="tt-label-location">
												<span class="tt-label-sale">Sale 15%</span>
											</span>
										</a>
									</div>
									<div class="tt-description">
										<div class="tt-row">
											<ul class="tt-add-info">
												<li><a href="#">топливная система</a></li>
											</ul>
											<div class="tt-rating">
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star-half"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
										<h2 class="tt-title"><a href="{% url 'detailed' fuel_t.id %}">{{ fuel_t.name}}</a></h2>
										<div class="tt-product-inside-hover">
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>
											</div>
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
												<a href="#" class="tt-btn-wishlist"></a>
												<a href="#" class="tt-btn-compare"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane" id="tt-tab01-03">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js">
							{% for engine_t in engine %}
							<div class="col-2 col-md-4 col-lg-3">
								<div class="tt-product thumbprod-center">
									<div class="tt-image-box">
										<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>
							<a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
							<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>
										<a href="{% url 'detailed' engine_t.id %}">
											<span class="tt-img"><img src="{% static engine_t.image_path %}" alt=""></span>
											<span class="tt-img-roll-over"><img src="{% static engine_t.image_path %}" alt=""></span>
										</a>
									</div>
									<div class="tt-description">
										<div class="tt-row">
											<ul class="tt-add-info">
												<li><a href="#">двигатель</a></li>
											</ul>
											<div class="tt-rating">
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star-half"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
										<h2 class="tt-title"><a href="{% url 'detailed' engine_t.id %}">{{ engine_t.name}}</a></h2>
										<div class="tt-product-inside-hover">
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>
											</div>
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
												<a href="#" class="tt-btn-wishlist"></a>
												<a href="#" class="tt-btn-compare"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
					<div class="tab-pane" id="tt-tab01-04">
						<div class="tt-carousel-products row arrow-location-tab tt-alignment-img tt-layout-product-item slick-animated-show-js">
							{% for body_t in body%}
							<div class="col-2 col-md-4 col-lg-3">
								<div class="tt-product thumbprod-center">
									<div class="tt-image-box">
										<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>
										<a href="#" class="tt-btn-wishlist" data-tooltip="Add to Wishlist" data-tposition="left"></a>
										<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>
										<a href="{% url 'detailed' body_t.id %}">
											<span class="tt-img"><img src="{% static body_t.image_path %}" alt=""></span>
											<span class="tt-img-roll-over"><img src="{% static body_t.image_path %}" alt=""></span>
										</a>
									</div>
									<div class="tt-description">
										<div class="tt-row">
											<ul class="tt-add-info">
												<li><a href="#">T-SHIRTS</a></li>
											</ul>
											<div class="tt-rating">
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star"></i>
												<i class="icon-star-half"></i>
												<i class="icon-star-empty"></i>
											</div>
										</div>
										<h2 class="tt-title"><a href="{% url 'detailed' body_t.id %}">{{ body_t.name}}</a></h2>
										<div class="tt-product-inside-hover">
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-addtocart thumbprod-button-bg" data-toggle="modal" data-target="#modalAddToCartProduct">ADD TO CART</a>
											</div>
											<div class="tt-row-btn">
												<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
												<a href="#" class="tt-btn-wishlist"></a>
												<a href="#" class="tt-btn-compare"></a>
											</div>
										</div>
									</div>
								</div>
							</div>
							{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent">
		<div class="container">
			<div class="row tt-layout-promo-box mb-3">
				<div class="col-md-6">
					<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
						<img src="{% static 'images/product/engine.jpg' %}" data-src="{% static 'images/product/engine.jpg' %}" alt="">
						<div class="tt-description">
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small">Статья:</div>
								<div class="tt-title-large">Как убить двигатель</div>
							</div>
						</div>
					</a>
				</div>
				<div class="col-md-6">
					<a href="listing-left-column.html" class="tt-promo-box tt-one-child">
						<img src="{% static 'images/product/turbo.jpg' %}" data-src="{% static 'images/product/turbo.jpg' %}" alt="">
						<div class="tt-description">
							<div class="tt-description-wrapper">
								<div class="tt-background"></div>
								<div class="tt-title-small">Статья:</div>
								<div class="tt-title-large">Восстановление турбины</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>



</div>
{% endblock %}
