{% extends 'base.html' %}
{% load static %}

{% block page_title %}Варианты оплаты в магазине Ducatoparts.{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Запчасти</a> </li>
			<li>Оплата</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="title">КАК ОПЛАТИТЬ?.</h1>
						<div class="row">
							<div>
							  <p>Оплатить товары в магазинах ducatoparts вы можете одним из способов:</p>
							  <li>Наличными в кассе магазина</li>
							  <li>Банковской картой VISA, MASTERCARD, МИР, или MAESTRO</li>
							  <li>Через Сбербанк Онлайн</li>
							  <li>Банковским переводом</li>
                  			</div>
							  <div class="contact_message content mb-3" style="padding-top:20px">
								  <h3>Как оплатить товар из регионов?</h3>
								  <p>Первое, что Вам нужно сделать - это позвонить нам, заказать звонок, или связаться любым удобным способом.</br>
								  Мы обсудим, какие запчасти нужны, оригинал или аналог, сколько стоит и т.д.</br>
								  Дальше мы отправим Вам на емайл счет, который можно оплатить в любом банке. Банк даст квитанцию, подтверждение оплаты.</br>
								  После того как оплатили счет, звоните нам и мы отправляем вам запчасти. Подробнее о работе с транспортными компаниями вы можете узнать в разделе <a href='https://partshub.ru/delivery'>Доставка</a></p>
							  </div>
            			</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
