{% extends 'base.html' %}
{% load static %}

{% block page_title %}Страница с реквизитами компании Ducatoparts.ru{% endblock page_title %}

{% block page_description %}Реквизиты компании Ducatoparts.ru, ИНН, р/с{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Запчасти</a> </li>
			<li>Реквизиты</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="nomargin container-indent">
		<div class="about-box">
			<div class="container">
				<div class="row">
					<div class="col-md-7">
						<h1 class="title">НАШИ РЕКВИЗИТЫ</h1>
						<div class="row">
							<div class="col-md-9">
                                <p>Сокращенное наименование организации - "Востриков В.В"</p>
                                <p>ИНН - 032500305250</p>
                                <p>ОГРНИП - 319774600171846</p>
                                <p>ОКПО 80878490</p>
                                <p>Юридический адрес -  125480 Москва, ул Героев Панфиловцев 6, 1, кв 185</p>
                                <p>Фактический адрес 125466 Москва, ул Соловьиная Роща д 8 к 2</p>
                                <p>Банк получателя - СБЕРБАНК</p>
                                <p>БИК 044525225</p>
                                <p>Рассчетный счет - 40802810038000147463</p>
                                <p>Корреспондентский счет - 30101810400000000225</p>
                                <p>Адрес эл. Почты - angara99@gmail.com</p>
                                <p>Контактный телефон - 8916-215-15-08</p>
                  			</div>
							<div class="col-md-3">
								<img src="{% static 'images/other/requs1.png' %}" alt="реквизиты компании дукатопартс">
							</div>
            			</div>

					</div>
				</div>
			</div>
		</div>
	</div>

</div>
{% endblock %}
