<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="utf-8">
	<title>{% block page_title %}Автозапчасти новые и Б/У для Дукато, Джампер, Боксер, Транзит{% endblock %}</title>
	<meta name="keywords" content="{% block page_keywords %}Запчасти для коммерческих автомобилей{% endblock %}">
	<meta name="description" content="{% block page_description %}Автозапчасти для коммерческого транспорта в Москве с доставкой{% endblock %}">
	{% block meta %}{% endblock %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{% static 'star-ratings/css/star-ratings.css' %}">
	<link rel="stylesheet" href="{% static 'css/theme.css' %}">
	<link rel="stylesheet"  href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
	<link rel="stylesheet" href="{% static 'css/my_style.css' %}">
	<link rel="stylesheet" href="{% static 'css/my_style_vasya.css' %}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-4786389-4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'UA-4786389-4');
	</script>
	<!-- Yandex.Metrika counter -->
	<script type="text/javascript" >
		(function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
		m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
		(window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

		ym(44011094, "init", {
			clickmap:true,
			trackLinks:true,
			accurateTrackBounce:true,
			webvisor:true,
			trackHash:true
		});
	</script>
	<noscript><div><img src="https://mc.yandex.ru/watch/44011094" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "{{ site_host }}",
      "contactPoint": [
        { "@type": "ContactPoint",
          "telephone": "{{ shop_info.shop_tel_no_brackets }}",
          "contactType": "sales"
        }
      ]
    }
</script>
</head>
<body>
<div id="loader-wrapper">
	<div id="loader">
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
</div>
<header>
	<div class="tt-color-scheme-01">
		<div class="container">
			<div class="tt-header-row tt-top-row">
				<div class="tt-col-left">
					<div class="tt-box-info">
						<ul>
							<li><i class="icon-f-44"></i>Запчасти для коммерческого транспорта <a href="{% url 'newparts' %}" class="tt-link-underline"> Каталог</a></li>
						</ul>
					</div>
				</div>
				<div class="tt-col-right ml-auto">
					{{ request.user.username }}
				</div>
			</div>
		</div>
	</div>
	<!-- tt-mobile menu -->
	<nav class="panel-menu mobile-main-menu">
		<ul>
			<li>
				<a href="{% url 'home' %}">ГЛАВНАЯ</a>
			</li>
			<li>
				<a href="{% url 'newparts' %}">КАТАЛОГИ</a>
			</li>
			<li>
				<a href="{% url 'blogs' %}">БЛОГ</a>
			</li>
			<li>
				<a href="{% url 'delivery' %}">ДОСТАВКА</a>
			</li>
			<li>
				<a href="{% url 'guaranties' %}">ГАРАНТИИ</a>
			</li>
			<li>
				<a href="#">О КОМПАНИИ</a>
				<ul>
					<li>
						<a href="#">ИНФОРМАЦИЯ</a>
						<ul>
							<li><a href="{% url 'about' %}">О КОМПАНИИ</a></li>
							<li><a href="{% url 'payment' %}">СПОСОБЫ ОПЛАТЫ</a></li>
							<li><a href="{% url 'delivery' %}">ДОСТАВКА</a></li>
						</ul>
					</li>
					<li>
						<a href="#">ДОКУМЕНТЫ</a>
						<ul>
							<li><a href="{% url 'policy' %}">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a></li>
							<li><a href="{% url 'guaranties' %}">ГАРАНТИИ</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="{% url 'contacts' %}">КОНТАКТЫ</a>
			</li>
		</ul>
		<div class="mm-navbtn-names">
			<div class="mm-closebtn">Закрыть</div>
			<div class="mm-backbtn">Назад</div>
		</div>
	</nav>
	<nav class="panel-menu mobile-caterorie-menu">

		<div class="mm-navbtn-names">
			<div class="mm-closebtn">Закрыть</div>
			<div class="mm-backbtn">Назад</div>
		</div>
	</nav>
	<!-- tt-mobile-header -->
	<div class="tt-mobile-header">
		<div class="container-fluid">
			<div class="header-tel-info">
				<i class="icon-f-93"></i> {{ shop_info.shop_tel }}
			</div>
		</div>
		<div class="container-fluid tt-top-line">
			<div class="tt-header-row">
				<div class="tt-mobile-parent-menu">
					<div class="tt-menu-toggle stylization-02">
						<i class="icon-03"></i>
					</div>
				</div>
				<div class="tt-mobile-parent-menu-categories tt-parent-box">
<!--					<button class="tt-categories-toggle">-->
<!--						<i class="icon-categories"></i>-->
<!--					</button>-->
				</div>
				<!-- search -->
				<div class="tt-mobile-parent-search tt-parent-box"></div>
				<!-- /search -->
				<!-- cart -->
				<div class="tt-mobile-parent-cart tt-parent-box"></div>
				<!-- /cart -->
				<!-- account -->
				<div class="tt-mobile-parent-account tt-parent-box"></div>
				<!-- /account -->
				<!-- currency -->
				<div class="tt-mobile-parent-multi tt-parent-box"></div>
				<!-- /currency -->
			</div>
		</div>
		<div class="container-fluid tt-top-line">
			<div class="row">
				<div class="tt-logo-container">
					<!-- mobile logo -->
					<a class="tt-logo tt-logo-alignment" href="{% url 'home' %}"><img src="{% static 'logo1.png' %}" alt="логотип компании Дукатопартс"></a>
					<!-- /mobile logo -->
					<!-- /mobile logo -->
				</div>
			</div>
		</div>
	</div>
	<!-- tt-desktop-header -->
	<div class="tt-desktop-header headerunderline">
		<div class="container">
			<div class="tt-header-holder">
				<div class="tt-col-obj tt-obj-logo">
					<!-- logo -->
					<a class="tt-logo tt-logo-alignment" href="{% url 'home' %}"><img src="{% static 'logo1.png' %}" alt="логотип нашей компании дукатопартс"></a>
					<!-- /logo -->
				</div>
				<div class="tt-col-obj tt-obj-search-type2">
					<div class="tt-search-type2">
			 			<!-- tt-search -->
						<form action="{% url 'search' %}" method="get" role="search">
							<i class="icon-f-85"></i>
							<input class="tt-search-input" type="search" name="search" {% if request.GET.search %} value="{{ request.GET.search }}{% endif %}" placeholder="Поиск..." aria-label="SEARCH PRODUCTS..." autocomplete="off">
							<button type="submit" class="tt-btn-search">Поиск</button>

						</form>
						<!-- /tt-search -->
					</div>
				</div>
				<div class="tt-col-obj obj-move-right">

					<div class="header-tel-info">
						<i class="icon-f-88"></i> {{ shop_info.shop_whatsapp }} <i class="icon-f-93"></i> {{ shop_info.shop_tel }}
					</div>
				</div>
			</div>
		</div>
		<div class="container small-header">
			<div class="tt-header-holder">
				<div class="tt-col-obj tt-obj-menu-categories tt-desctop-parent-menu-categories">
					<div class="tt-menu-categories">
						<button class="tt-dropdown-toggle">
							КАТЕГОРИИ
						</button>
						{% if categories %}
						<div class="tt-dropdown-menu">
							<nav>
								<ul>
										{% for h_cat in categories %}
										<li>
											<a href="{% url 'subcat' h_cat.slug %}">
												<i class="icon-women"></i>
												<span>{{ h_cat.name }}</span>
											</a>
										</li>
										{% endfor %}
								</ul>
							</nav>
						</div>
						{% endif %}
					</div>
				</div>
				<div class="tt-col-obj tt-obj-menu">
					<!-- tt-menu -->
					<div class="tt-desctop-parent-menu tt-parent-box">
						<div class="tt-desctop-menu">
							<nav>
								<ul>
									<li class="dropdown tt-megamenu-col-02 selected">
										<a href="{% url 'home' %}">ГЛАВНАЯ</a>
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'newparts' %}">КАТАЛОГИ</a>
										{% if cars %}
										<div class="dropdown-menu">
												<ul class="tt-megamenu-submenu">
														{% for h_car in cars %}
														<li>
															<a href="{% url 'car_page' h_car.car %}">
																<span>{{ h_car.car|upper }}</span>
															</a>
														</li>
														{% endfor %}
												</ul>
										</div>
										{% endif %}
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'blogs' %}">БЛОГ</a>
										<div class="dropdown-menu">
											<div class="row tt-col-list">
												<div class="col">
													<h6 class="tt-title-submenu"><a href="{% url 'blogs' %}">Новые статьи</a></h6>
												</div>
												<div class="col">
													<h6 class="tt-title-submenu"><a href="{% url 'oldblogs' %}">Старые статьи</a></h6>
												</div>
											</div>
										</div>
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'delivery' %}">ДОСТАВКА</a>
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'guaranties' %}">ГАРАНТИИ</a>
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'about' %}">О НАС</a>
										<div class="dropdown-menu">
											<div class="row tt-col-list">
												<div class="col">
													<h6 class="tt-title-submenu">Информация</h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="{% url 'about' %}">О Компании</a></li>
														<li><a href="{% url 'delivery' %}">Доставка</a></li>
														<li><a href="{% url 'payment' %}">Оплата</a></li>
														<li><a href="{% url 'requsites' %}">Реквизиты</a></li>
													</ul>
												</div>
												<div class="col">
													<h6 class="tt-title-submenu">Документы</h6>
													<ul class="tt-megamenu-submenu">
														<li><a href="{% url 'policy' %}">Политика Конфиденциальности</a></li>
														<li><a href="{% url 'guaranties' %}">Гарантии</a></li>
													</ul>
												</div>
											</div>
										</div>
									</li>
									<li class="dropdown tt-megamenu-col-01">
										<a href="{% url 'contacts' %}">КОНТАКТЫ</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<!-- /tt-menu -->
				</div>
				<div class="tt-col-obj tt-obj-options obj-move-right">
					<!-- tt-search -->
					<div class="tt-desctop-parent-search tt-parent-box tt-obj-desktop-hidden">
						<div class="tt-search tt-dropdown-obj">
							<button class="tt-dropdown-toggle" data-tooltip="Search" data-tposition="bottom">
								<i class="icon-f-85"></i>
							</button>
							<div class="tt-dropdown-menu">
								<div class="container">
									<form>
										<div class="tt-col">
											<input type="text" class="tt-search-input" placeholder="Поиск">
											<button class="tt-btn-search" type="submit"></button>
										</div>
										<div class="tt-col">
											<button class="tt-btn-close icon-g-80"></button>
										</div>
										<div class="tt-info-text">
											Введите номер или название запчасти...
										</div>
										<div class="search-results">
											<ul>
											</ul>
											<button type="button" class="tt-view-all">View all products</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-search -->
                    <!-- tt-cart -->
					<div class="tt-desctop-parent-cart tt-parent-box">
						<div id="small-cart" class="tt-cart tt-dropdown-obj" data-tooltip="КОРЗИНА" data-tposition="bottom">
							<button class="tt-dropdown-toggle">
								<i class="icon-f-39"></i>
								<span class="tt-badge-cart" {% if not request.session.total %}style="visibility: hidden;"{% endif %}>{{ request.session.total }}</span>
							</button>
							<div class="tt-dropdown-menu">
								<div class="tt-mobile-add">
									<h6 class="tt-title">Корзина</h6>
									<button class="tt-close">Закрыть</button>
								</div>
								<div class="tt-dropdown-inner">
									<div class="tt-cart-layout">
										<!-- layout emty cart -->
										<!-- <a href="empty-cart.html" class="tt-cart-empty">
											<i class="icon-f-39"></i>
											<p>No Products in the Cart</p>
										</a> -->
										<div class="tt-cart-content">
											<div class="tt-cart-list">
												{% if cart %}
                                                {% for cart_item in cart.items.all %}
												<div class="tt-item">
													<a href="product.html">
														<div class="tt-item-img">
                                                            <img src="{% static 'images/loader.svg' %}" data-src="{% static cart_item.product.image_path %}" alt="">
														</div>
														<div class="tt-item-descriptions">
                                                            <h2 class="tt-title">{{ cart_item.product.name|truncatechars:50|title }}</h2>
															<ul class="tt-add-info">
                                                                <li>Производитель: {{ cart_item.product.brand }}</li>
															</ul>
                                                            <div class="tt-quantity">{{ cart_item.item_total }}</div>
                                                            <div class="tt-price">{{ cart_item.total }}</div>
														</div>
													</a>
													<div class="tt-item-close">
                                                        <a href="{% url 'remove_from_cart'%}?product_id={{  cart_item.product.id }}" class="tt-btn-close"></a>
													</div>
												</div>
                                                {% endfor %}

											</div>
											<div class="tt-cart-total-row">
												<div class="tt-cart-total-title">ВСЕГО:</div>
                                                <div class="tt-cart-total-price">&#x20bd; {{ cart.cart_total }}</div>
											</div>
											<div class="tt-cart-btn">
												<div class="tt-item">
													<a href="{% url 'order' %}" class="btn">ОФОРМИТЬ ЗАКАЗ</a>
												</div>
												<div class="tt-item">
													<a href="{% url 'cart' %}" class="btn-link-02 tt-hidden-mobile">В корзину</a>
													<a href="{% url 'cart' %}" class="btn btn-border tt-hidden-desctope">В КОРЗИНУ</a>
												</div>
												{% endif %}
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /tt-cart -->
                    <div class="tt-desctop-parent-wish tt-parent-box">
						<div class="tt-wish tt-dropdown-obj">
							<button id="show-wish" class="tt-dropdown-toggle"  data-tooltip="ИЗБРАННОЕ" data-tposition="bottom"><i class="icon-n-072"></i>
									<span class="tt-badge-wish" {% if not request.session.wish_list %}style="visibility: hidden;"{% endif %}>{{ request.session.wish_list|length }}</span>
							</button>
						</div>
					</div>
					<!-- tt-account -->
					<div class="tt-desctop-parent-account tt-parent-box">
						<div class="tt-account tt-dropdown-obj">
							<button class="tt-dropdown-toggle"  data-tooltip="МОЙ АКАУНТ" data-tposition="bottom"><i class="icon-f-94"></i></button>
							<div class="tt-dropdown-menu">
								<div class="tt-mobile-add">
									<button class="tt-close">Закрыть</button>
								</div>
								<div class="tt-dropdown-inner">
									<ul>
									    <li><a href="{% url 'login' %}"><i class="icon-f-94"></i>Мой акаунт</a></li>
									    <li><a href="{% url 'wish' %}"><i class="icon-n-072"></i>Избранное</a></li>
									    <li><a href="{% url 'order' %}"><i class="icon-f-68"></i>Оформить заказ</a></li>
									    <li><a href="{% url 'login' %}"><i class="icon-f-76"></i>Войти</a></li>
									    <li><a href="{% url 'register' %}"><i class="icon-f-94"></i>Зарегестрироваться</a></li>
										<li><a href="{% url 'logout' %}"><i class="icon-f-77"></i>Выйти</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /tt-desktop-header -->
	<!-- stuck nav -->
	<div class="tt-stuck-nav">
		<div class="container">
			<div class="tt-header-row ">
				<div class="tt-stuck-desctop-menu-categories"></div>
				<div class="tt-stuck-parent-menu"></div>
				<div class="tt-stuck-mobile-menu-categories"></div>
				<div class="tt-stuck-parent-search tt-parent-box"></div>
				<div class="tt-stuck-parent-cart tt-parent-box"></div>
				<div class="tt-stuck-parent-wish tt-parent-box"></div>
				<div class="tt-stuck-parent-account tt-parent-box"></div>
				<div class="tt-stuck-parent-multi tt-parent-box"></div>
			</div>
		</div>
	</div>
</header>
{% block page %}{% endblock %}
<footer class="nomargin">
	{% include 'snippets/footer_form.html' %}

	<div class="tt-footer-col tt-color-scheme-01">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							Категории
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="/zapchasti/fiat-ducato/">Запчасти Дукато</a></li>
								<li><a href="/zapchasti/ford-transit/">Запчасти Транзит</a></li>
								<li><a href="/zapchasti/peugeot-boxer/">Запчасти Боксер</a></li>
								<li><a href="/zapchasti/iveco-daily/">Запчасти Ивеко Дэйли</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-2 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							Информация
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="{% url 'about' %}">О Компании</a></li>
								<li><a href="{% url 'contacts' %}">Контакты</a></li>
								<li><a href="{% url 'delivery' %}">Доставка</a></li>
								<li><a href="{% url 'guaranties' %}">Гарантии</a></li>
								<li><a href="{% url 'payment' %}">Оплата</a></li>
								<li><a href="{% url 'policy' %}">Политика Конфиденциальности</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-mobile-collapse">
						<h4 class="tt-collapse-title">
							Блог
						</h4>
						<div class="tt-collapse-content">
							<ul class="tt-list">
								<li><a href="/blogs/prichiny-neravnomernogo-iznosa-tormozov/">Причины неравномерного износа</a></li>
								<li><a href="/blogs/5-rekomenduemyh-masel-s-vjazkostju-5w30/">5 рекомендуемых масел</a></li>
								<li><a href="/blogs/poterja-zazhiganija-chto-eto-znachit-i-kakovy-mogut-byt-posledstvija/">Потеря зажигания</a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-6 col-lg-4 col-xl-3">
					<div class="tt-newsletter">
						<div class="tt-mobile-collapse">
							<h4 class="tt-collapse-title">
								Контакты
							</h4>
							<div class="tt-collapse-content">
								<address>
									<p><span>Адрес:</span> <br>{{ shop_info.address_line1 }}</p>
									<p><span>Тел:</span> {{ shop_info.shop_tel }}</p>
									<p><span>Время работы:</span> {{ shop_info.shop_working_hours }}</p>
									<p><span>Почта:</span> <a href="mailto:info@mydomain.com"> {{ shop_info.shop_email }}</a></p>
								</address>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="tt-footer-custom">
		<div class="container">
			<div class="tt-row">
				<div class="tt-col-left">
					<div class="tt-col-item tt-logo-col">
						<!-- logo -->
						<a class="tt-logo tt-logo-alignment" href="{% url 'home' %}">
							<img src="{% static 'logo1.png' %}" alt="логотип компании дукатопартс">
						</a>
						<!-- /logo -->
					</div>
					<div class="tt-col-item">
						<!-- copyright -->
						<div class="tt-box-copyright">
							&copy; Ducatoparts. Все Права Защищены
						</div>
						<!-- /copyright -->
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<a href="#" class="tt-back-to-top">BACK TO TOP</a>
{% block modal_product %}
<div class="modal  fade"  id="ModalquickView" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="tt-modal-quickview desctope">
					<div class="row">
						<div class="col-12 col-md-5 col-lg-6">
							<div class="tt-mobile-product-slider arrow-location-center">
								<div><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/product/product-01.jpg' %}" alt=""></div>
								<div><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/product/product-01-02.jpg' %}" alt=""></div>
								<div><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/product/product-01-03.jpg' %}" alt=""></div>
								<div><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/product/product-01-04.jpg' %}" alt=""></div>
								<div>
									<div class="tt-video-block">
										<a href="#" class="link-video"></a>
										<video class="movie" src="{% static 'video/video.mp4' %}" poster="{% static 'video/video_img.jpg' %}"></video>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-7 col-lg-6">
							<div class="tt-product-single-info">
								<div class="tt-add-info">
									<ul>
										<li><span>SKU:</span> 001</li>
										<li><span>Availability:</span> 40 in Stock</li>
									</ul>
								</div>
								<h2 class="tt-title">Cotton Blend Fleece Hoodie</h2>
								<div class="tt-price">
									<span class="new-price">$29</span>
									<span class="old-price"></span>
								</div>
								<div class="tt-review">
									<div class="tt-rating">
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star"></i>
										<i class="icon-star-half"></i>
										<i class="icon-star-empty"></i>
									</div>
									<a href="#">(1 Customer Review)</a>
								</div>
								<div class="tt-wrapper">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
								</div>
								<div class="tt-swatches-container">
									<div class="tt-wrapper">
										<div class="tt-title-options">SIZE</div>
										<form class="form-default">
											<div class="form-group">
												<select class="form-control">
													<option>21</option>
													<option>25</option>
													<option>36</option>
												</select>
											</div>
										</form>
									</div>
									<div class="tt-wrapper">
										<div class="tt-title-options">COLOR</div>
										<form class="form-default">
											<div class="form-group">
												<select class="form-control">
													<option>Red</option>
													<option>Green</option>
													<option>Brown</option>
												</select>
											</div>
										</form>
									</div>
									<div class="tt-wrapper">
										<div class="tt-title-options">TEXTURE:</div>
										<ul class="tt-options-swatch options-large">
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/custom/texture-img-01.jpg' %}" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li class="active"><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/custom/texture-img-02.jpg' %}" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/custom/texture-img-03.jpg' %}" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/custom/texture-img-04.jpg' %}" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
											<li><a class="options-color" href="#">
												<span class="swatch-img">
													<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/custom/texture-img-05.jpg' %}" alt="">
												</span>
												<span class="swatch-label color-black"></span>
											</a></li>
										</ul>
									</div>
								</div>
								<div class="tt-wrapper">
									<div class="tt-row-custom-01">
										<div class="col-item">
											<div class="tt-input-counter style-01">
												<span class="minus-btn"></span>
												<input type="text" value="1" size="5">
												<span class="plus-btn"></span>
											</div>
										</div>
										<div class="col-item">
											<a href="#" class="btn btn-lg"><i class="icon-f-39"></i>ADD TO CART</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock modal_product %}
<script src="{% static 'external/jquery/jquery.min.js' %}"></script>
<script src="{% static 'external/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'external/bootstrap-datepicker/bootstrap-datepicker.js' %}"></script>
<script src="{% static 'external/elevatezoom/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'external/slick/slick.min.js' %}"></script>
<script src="{% static 'external/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
<script src="{% static 'external/panelmenu/panelmenu.js' %}"></script>
<script src="{% static 'external/air-sticky/air-sticky-block.min.js' %}"></script>
<script src="{% static 'external/instafeed/instafeed.min.js' %}"></script>
<script src="{% static 'external/rs-plugin/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'external/rs-plugin/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'external/lazyLoad/lazyload.min.js' %}"></script>

<script type="text/javascript" src="{% static 'star-ratings/js/dist/star-ratings.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/my.js' %}"></script>




<!-- form validation and sending to mail -->
<script src="{% static 'external/form/jquery.form.js' %}"></script>
<script src="{% static 'external/form/jquery.validate.min.js' %}"></script>
<script src="{% static 'external/form/jquery.form-init.js' %}"></script>
{% block custom_js %}
{% endblock %}

</body>
</html>
