{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% block meta %}
	{% if request.GET.page  %}
		<link rel="canonical" href="{{ request.path }}" />
	{% endif %}
{% endblock meta %}
{% block page_title %}Страница логина{% endblock page_title %}


{% block page_keywords %}Страница логина{% endblock page_keywords %}

{% block page_description %}Страница входа в аккаунт{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>Логин</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container">
			<h1 class="tt-title-subpages noborder">УЖЕ ЗАРЕГЕСТРИРОВАНЫ?</h1>
			<div class="tt-login-form">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<div class="tt-item">
							<h2 class="tt-title">СОЗДАТЬ АКАУНТ</h2>
							<p>
								Если Вы зарегестрируетесь на нашем сайте, Вы сможете сохранять адреса доставки, историю покупок.
							</p>
							<div class="form-group">
								<a href="{% url 'register' %}" class="btn btn-top btn-border">СОЗДАТЬ АККАУНТ</a>
							</div>
						</div>
					</div>
					<div class="col-xs-12 col-md-6">
						<div class="tt-item">
							<h2 class="tt-title">ВХОД</h2>
							Если у Вас уже есть аккаунт, войдите.
							<div class="form-default form-top">
								<form id="customer_login" method="post" novalidate="novalidate">{% csrf_token %}
									<div class="form-group">
										<div class="tt-required">* Обязательные поля</div>
										{{ form }}
									</div>
									<div class="row">
										<div class="col-auto mr-auto">
											<div class="form-group">
												<button class="btn btn-border" type="submit">ВОЙТИ</button>
											</div>
										</div>
										<div class="col-auto align-self-end">
											<div class="form-group">
												<ul class="additional-links">
													<li><a href="#">Забыли пароль?</a></li>
												</ul>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}