{% extends 'base.html' %}
{% load static %}
{% load ratings %}
{% load crispy_forms_tags %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'newparts' %}">Каталог</a></li>
			<li><a href="{% url 'subcat' bread_sub1.slug %}">{{ bread_sub1.name|title }}</a></li>
			<li><a href="{% url 'subcat' bread_sub2.slug %}">{{ bread_sub2.name|title }}</a></li>
			<li>{% for c in object.cat.all %}
				<a href="{% url 'subcat' c.slug %}">{{ c.name|title }}</a>,
				{% endfor %}</li>
		</ul>
	</div>

</div>
<div itemscope itemtype="http://schema.org/Product" id="tt-pageContent">
	<div class="container-indent">
		<!-- mobile product slider  -->
		<div class="tt-mobile-product-layout visible-xs">
			<div class="tt-mobile-product-slider arrow-location-center slick-animated-show-js">
				{% for p in object.image_path_all %}
				<div><img src="{% static p %}" alt=""></div>
				{% endfor %}
				<!--<div>
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="{% static 'http://www.youtube.com/embed/GhyKqj_P2E4' %}" allowfullscreen></iframe>
					</div>
				</div>-->
				<!--<div>
					<div class="tt-video-block">
						<a href="#" class="link-video"></a>
						<video class="movie" src="{% static 'video/video.mp4' %}" poster="video/video_img.jpg"></video>
					</div>
				</div>-->
			</div>
		</div>
		<!-- /mobile product slider  -->

		<div class="container container-mobile-airSticky" itemscope itemtype="http:/scema.org/Offer">
			<div class="row airSticky_stop-block">
				<div class="col-6 hidden-xs">
					<div class="product-images-static hidden-xs">
						<ul  data-scrollzoom="false">
							{% for p in object.image_path_all %}
							{% if p %}
							<li><img class="zoom-produc about-border" src="{% static p %}" alt="{{ object.name }}"></li>
							{% endif %}
							{% endfor %}

							<!--<li>
								<div class="tt-video-block">
									<a href="#" class="link-video"></a>
									<video class="movie" src="{% static 'video/video.mp4' %}" poster="video/video_img.jpg"></video>
								</div>
							</li>-->
						</ul>
					</div>
				</div>
				<div class="col-6">
					<div class="airSticky">
						<div class="tt-product-single-info">
							<div class="tt-add-info">
								<ul>
									<li><span>Артикул:</span> {{ object.cat_n }}</li>
									<!--<li><span>Наличие:</span> В наличии</li>-->
								</ul>
							</div>
							<h1 itemprop = "name" class="tt-title">{{ object.name|upper }}</h1>
							<div class="tt-price">
								<span class="new-price">&#8381; <span itemprop = "price" >{{ object.price }}</span></span>
								<span class="old-price"></span>
							</div>
							{% ratings object 12 12 %}
							<div class="tt-review">
								<div class="tt-rating">
								</div>
							</div>
							<div class="tt-wrapper">
								Внимание! Изображения запчастей могут не соответсвовать реальным! Мы обновляем базу изображений.
								Для уточнения деталей звоните пожалуйста менеджеру! <span class="bred"><a href="{% url 'contacts' %}">{{ shop_info.shop_tel }}</a> </span>
							</div>
							<div class="tt-wrapper product-desc">
								Доставка по Москве от 290 рублей. При большом заказе - доставка бесплатно! <a href="{% url 'delivery' %}">Подробнее о  Доставке >></a>
							</div>
							<div class="tt-wrapper product-desc">
								Почему лучше покупать у нас: <a href="{% url 'about' %}">Преимущества и Отзывы >></a>
							</div>
							<div class="tt-wrapper">
								<div class="tt-row-custom-01">
									<div class="col-item">
										<div class="tt-input-counter style-01">
											<span class="minus-btn"></span>
											<input type="text" value="1" size="5"/>
											<span class="plus-btn"></span>
										</div>
									</div>
									<div class="col-item">
                                        <a href="{% url 'add_to_cart' %}?product_id={{ object.id  }}" class="btn btn-lg cart_button" data-pk="{{ object.id  }}"><i class="icon-f-39"></i>В Корзину</a>
									</div>

									<!-- Button trigger modal -->
									<div class="col-item">
									<button type="button" class="btn btn-lg button-call-product" data-toggle="modal" data-target="#call_form">Обратный звонок</button>
									</div>
								</div>
							</div>
							<div class="tt-wrapper">
								<ul class="tt-list-btn">
									<li><a id="add-wish-product-{{ object.id }}" data-pk="{{ object.id }}" class="btn-link tt-btn-wishlist" href="#"><i class="icon-n-072"></i>ДОБАВИТЬ В ИЗБРАННОЕ</a></li>
									<li><a class="btn-link" href="{% url 'cart' %}"><i class="icon-f-39"></i>ПЕРЕЙТИ В КОРЗИНУ</a></li>
								</ul>
							</div>
							{% if analogs %}
							<div class="tt-wrapper">
								<div class="tt-add-info">
									<span class="bgreen">Внимание есть аналоги:</span>
									<ul>
										{% for analog in analogs %}
										<li class="border_bott"><span></span><a href="{% url 'detailed' analog.id %}">{{ analog.cat_n }} | {{ analog.name|title }} </a><span class="bgreen"> | &#8381; {{ analog.price }}</span></li>

										{% endfor %}
									</ul>
								</div>
							</div>
							{% endif %}
							<div class="tt-wrapper">
								<div class="tt-add-info">
									<ul>
										<li><span>Машина:</span> {{ object.car|upper }}</li>
										{% if object.model %}
										<li><span>Модель:</span> {{ object.model|upper }}</li>
										{% endif %}
										<li itemprop="category"><span>Категории:</span>
											{% for c in object.cat.all %}
												<a href="{% url 'subcat' c.slug %}">{{ c.name }},</a>
											{% endfor %}</li>
									</ul>
								</div>
							</div>
							{% if articles %}
							<div class="tt-collapse open">
								<h3 class="tt-collapse-title mt-4">СТАТЬИ ПО ТЕМЕ</h3>
									<div class="tt-collapse-content">
										<div class="tt-aside">
											{% for article in articles %}
												<a class="tt-item" href="{% url 'blog' article.article.slug %}">
													<div class="tt-img">
														<span class="tt-img-default"><img src="{{ article.article.image.url }}" alt="{{ article.article.title }}"></span>
														<span class="tt-img-roll-over"><img src="{{ article.article.image.url }}" alt="{{ article.article.title }}"></span>
													</div>
									<div class="tt-content">
										<h6 class="tt-title">{{ article.article.title|title }}</h6>
												<div class="tt-price">
													<span class="sale-price">Релевантность {{ article.weight }}</span>
												</div>
											</div>
											</a>
										{% endfor %}
									</div>
								</div>
							</div>
							{% endif %}
							{% if object.description %}
							<div class="tt-collapse-block">
								<div class="tt-item">
									<div class="tt-collapse-title">ОПИСАНИЕ</div>
									<div class="tt-collapse-content">
										{{ object.description }}
									</div>
								</div>
							</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent wrapper-social-icon">
		<div class="container">
			<ul class="tt-social-icon justify-content-center">
				<li><a class="icon-g-64" href="http://www.facebook.com/"></a></li>
				<li><a class="icon-h-58" href="http://www.facebook.com/"></a></li>
				<li><a class="icon-g-66" href="http://www.twitter.com/"></a></li>
				<li><a class="icon-g-67" href="http://www.google.com/"></a></li>
				<li><a class="icon-g-70" href="https://instagram.com/"></a></li>
			</ul>
		</div>
	</div>
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="tt-block-title text-left">
				<h3 class="tt-title-small">ПОХОЖИЕ ПРОДУКТЫ</h3>
			</div>
				<div class="tt-carousel-products row arrow-location-right-top tt-alignment-img tt-layout-product-item slick-animated-show-js">
				{% for similar in similar_products %}
					<div class="col-2 col-md-4 col-lg-3">
					<div class="tt-product thumbprod-center">
						<div class="tt-image-box">
<!--							<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"	data-tooltip="Quick View" data-tposition="left"></a>-->
							<a href="#" id="add-wish-{{ object.id }}" class="tt-btn-wishlist" data-tooltip="В ИЗБРАННОЕ" data-pk="{{ similar.id  }}" data-tposition="left"></a>
<!--							<a href="#" class="tt-btn-compare" data-tooltip="Add to Compare" data-tposition="left"></a>-->
							<a href="{% url 'detailed' similar.pk %}">
								<span class="tt-img"><img src="{% static similar.image_path %}" alt="{{ similar.name }}"></span>
								<span class="tt-img-roll-over"><img src="{% static similar.image_path %}" alt="{{ similar.name }}"></span>
							</a>
						</div>
						<div class="tt-description">
							<div class="tt-row">
								<ul class="tt-add-info">
									{% for cat_similar in object.cat.all %}
									<li><a href="{% url 'subcat' cat_similar.slug  %}">{{ cat_similar }}</a></li>
									{% endfor %}
								</ul>
							</div>
							<h2 class="tt-title"><a href="{% url 'detailed' similar.pk %}">{{ similar.name|title }}</a></h2>
							<div class="tt-price">
								{{ similar.price }}
							</div>
							<div class="tt-product-inside-hover">
								<div class="tt-row-btn">
									<a href="{% url 'add_to_cart' %}?product_id={{ object.id  }}" id="cart_button-{{ similar.id }}" class="tt-btn-addtocart thumbprod-button-bg cart_button" data-pk="{{ similar.id  }}" data-toggle="modal" data-target="#modalAddToCartProduct">В Корзину</a>
								</div>
								<div class="tt-row-btn">
									<a href="#" class="tt-btn-quickview" data-toggle="modal" data-target="#ModalquickView"></a>
									<a href="#" class="tt-btn-wishlist"></a>
									<a href="#" class="tt-btn-compare"></a>
								</div>
							</div>
						</div>
					</div>

				</div>
					{% endfor %}
			</div>
		</div>
	</div>

	{% include 'snippets/comments.html' %}
</div>
<!--MODAL_CALLBACK-->
<div class="modal fade" id="call_form">
	  <div class="modal-dialog" role="document">
		<div class="modal-content">
		  <div class="modal-header">
			<h5 class="modal-title" id="exampleModalLabel">Заказать звонок</h5>
			<button type="button" class="close" data-dismiss="modal" aria-label="Закрыть">

			</button>
		  </div>
		  <div class="modal-body">
			<form method="post" action="{% url 'send_e_form' %}">{% csrf_token %}
			{{ email_form|crispy }}
			<button type="submit" class="btn btn-success">отправить</button>
			</form>
		  </div>
		  <div class="modal-footer">
			<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
			<button type="submit" class="btn btn-success">Отправить</button>
		  </div>
		</div>
	  </div>
	</div>
<!--END_MODAL_CALLBACK-->
{% endblock %}
