.tt-clear-cross {
    margin-bottom: 20px;
}


.tt_product_showmore {
    margin-top: 28px;
    margin-bottom: 28px;
}

.arch-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}
.tt-post-content {
    font-size: 1.2rem;
    line-height: 150%;
}
.comment-reply {
    display: none;
}

.my-form-control{
    margin-bottom: 20px;
}

.tt-background2{
    background:rgba(255, 255, 255, 0.5);
}

.button-call-product{
    background:#17a2b8;
}
.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-secondary {
    color: #fff;
    background-color: #6c757d;
}

.search-filter-checkbox {
    padding-top:5px;
    padding-bottom:5px;
}
.pretty .state label {
    margin-left: 10px;
    font-weight: 100;
}