{% extends 'admin/adm_base.html' %}
{% load static %}
{% block page_content %}
<script>
    function my_loop(files){
        var html = '<span class="files-upload-ul">Выбрано: ' + files.length + ' файлов</span><ul >';

        return html;
    };

</script>

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <div class="col-6">
        <form method="post" action="{% url 'adminfilesupload' images.pk %}" enctype="multipart/form-data">{% csrf_token %}
            <a href="{% url 'adminphotolisting' category_id %}" class="btn btn-outline-success btn-sm">Назад в категорию</a>
            <label class="btn btn-outline-primary btn-sm mb-0" for="my-file-selector">
                <input id="my-file-selector" type="file" name="files" multiple hidden
                onchange="$('#upload-file-info').html(my_loop(this.files))">
                Выбрать файлы для загрузки
            </label>
            <button type="submit" class="btn btn-outline-success btn-sm">Загрузить фото</button>
            <span class='label label-info' id="upload-file-info"></span>
        </form>
    </div>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
        <a href="?make_done={{ images.pk }}&car={{ car }}" class="btn btn-sm btn-outline-success" title="Отметить как готовую">Отметить проверено</a>
        <a href="?make_not_done={{ images.pk }}&car={{ car }}" class="btn btn-sm btn-outline-danger" title="Отметить как НЕ готовую">Отметить НЕ проверено</a>
        </div>

        <!--<button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
            This week
        </button>-->
    </div>
</div>
<div class="row">

    <div class="col-12">
        <form method="get" action=".">
            <button type="submit" class="btn btn-outline-danger btn-sm float">Удалить НЕ отмеченные</button>
            <table class="table">
                <thead>
                <tr>
                    <th style="width: 16.66%;">
                        <h6>Удалить НЕ отмеченные фото</h6>
                    </th>
                    <th style="width: 50%;">
                        <h5>{{ images.cat_n }} | {{ images.name|title }}</h5>
                    </th>
                    <th style="width: 16.66%;">
                        <h6>Удалить фото</h6>
                    </th>
                    <th style="width: 16.66%;">
                        <h6>Удалить фото</h6>
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for img in images.image_path_adm %}
                <tr>
                    <td>
                        <div class="form-check">
                            <label class="form-check-label container" for="check-{{ img.img_name }}">
                                <input class="form-check-input" type="checkbox" name="img_delete"
                                       value="{{ img.img_name }}" id="check-{{ img.img_name }}">
                                <span class="detailed-red delete-photo"> Отметить как "Оставить"</span>
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </td>
                    <td>
                        <div class="detailed">
                            <img src="{% static img.path %}" class="img-fluid">
                        </div>
                    </td>
                    <td>
                        {% if images.main_img == img.img_name %}
                        <a href="" class="btn btn-outline-primary btn-sm">Главная</a>
                        {% else %}
                        <a href="?make_main={{ img.img_name }}&car={{ car }}" class="btn btn-outline-primary btn-sm">Сделать главной</a>
                        {% endif %}

                    </td>
                    <td>
                        <a href="?delete_single={{ img.img_name }}&car={{ car }}" class="btn btn-outline-danger btn-sm">Удалить фото</a>
                    </td>

                </tr>
                {% endfor %}

                </tbody>
            </table>
        </form>
    </div>

</div>


{% endblock %}
