{% extends 'admin/adm_base.html' %}
{% load static %}
{% block page_content %}



{% include 'admin/snippets/breadcrumbs.html' %}
<div class="row">
    <div class="col-12">
        <h6>Пустых папок: <span  class="bred">{{ objects.count }}</span></h6>
    </div>
</div>
<div class="row">
        {% for object in objects %}
            <div class="col-2">
                <div class="thumbnail {% if object.image_path %}thumbnail-green{% else %}thumbnail-red{% endif %}">
                        {% if object.image_path %}
                    <a href="{% url 'admin_detailed_view' object.id %}?car={{ car }}">
                        <img src="{% static object.image_path %}" class="img-fluid"></a>
                        {% endif %}
                    <div class="detailed-cat_n mt-2">{{ object.cat_n }}</div>
                    <div class="detailed-cat_n mt-2">{{ object.car }}</div>
                    <a href="{% url 'admin_detailed_view' object.id %}?car={{ car }}"><div>{{ object.name|title }}</div></a>
                    {% if object.img_check %}
                    <a href="{% url 'admin_detailed_view' object.id %}?car={{ car }}"> <div class="img-check-green text-center">ПРОВЕРЕНО</div></a>
                    {% else %}
                       <a href="{% url 'admin_detailed_view' object.id %}?car={{ car }}"><div class="img-check-red text-center">НЕ ПРОВЕРЕНО</div></a>
                    {% endif %}
                    </div>
            </div>
            <!--<img src="{% static object.image_path %}" alt="..." class="img-thumbnail img-fluid">-->
        {% endfor %}
</div>
{% endblock %}
