{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}О компании Ducatoparts.ru{% endblock page_title %}

{% block page_description %}{% endblock page_description %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li>О Компании</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="tt-offset-0 container-indent">
		<div class="page404 text-center">
			<div>400</div>
		</div>
		<div class="page404 text-center">
			<h1 class="tt-title">НЕВЕРНЫЙ ЗАПРОС</h1>
			<p>Вернитесь назад и попробуйте снова</p>
			<a href="index.html" class="btn">Вернуться на главную</a>
		</div>
	</div>
</div>




{% endblock %}



