<div class="mt-3">
    {% if car and car != 'all' %}
    <span class="bred">Выбрана машина {{ car|upper }}
        <a href="?{% if request.GET.chekced != 'All' %}checked={{ request.GET.checked }}{% else %}checked=All{% endif %}&car=all{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"> Отключить</a></span>
    {% endif %}
    {% if checked == 'True' %}
    <span class="mt-2 mb-2 bred">Выбрано ТОЛКО ПРОВЕРЕННЫЕ<a
            href="?checked=All{% if car %}&car={{ car }}{% else %}&car=all{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"> Отключить</a> </span>
    {% elif checked == 'False' %}
    <span class="mt-2 mb-2 bred">Выбрано ТОЛКО НЕ ПРОВЕРЕННЫЕ<a
            href="?checked=All{% if car %}&car={{ car }}{% else %}&car=all{% endif %}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}"> Отключить</a> </span>
    {% endif %}
</div>


