
<div class="tt-footer-default tt-color-scheme-02 mt-5">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-9">
					<div class="tt-newsletter-layout-01">
						<div class="tt-newsletter">
							<div class="tt-mobile-collapse">
								<h4 class="tt-collapse-title">
									ЗАКАЗАТЬ ЗВОНОК
								</h4>
								<div class="tt-collapse-content">
									<form class="form-inline form-default" method="post" novalidate="novalidate" action="{% url 'footer_form' %}">
										{% csrf_token %}
										<div class="form-group">
											<input type="text" name="phone" class="form-control" placeholder="Ваш номер">
											<button type="submit" class="btn">ЗАКАЗАТЬ</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-auto">
					<ul class="tt-social-icon">
						<li><a class="icon-g-64" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-h-58" target="_blank" href="http://www.facebook.com/"></a></li>
						<li><a class="icon-g-66" target="_blank" href="http://www.twitter.com/"></a></li>
						<li><a class="icon-g-67" target="_blank" href="http://www.google.com/"></a></li>
						<li><a class="icon-g-70" target="_blank" href="https://instagram.com/"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

