{% load static %}
{% load ratings %}
<div class="modal  fade"  id="ModalquickView-{{ object.id }}" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content ">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
			</div>
			<div class="modal-body">
				<div class="tt-modal-quickview desctope">
					<div class="row">
						<div class="col-12 col-md-5 col-lg-6">
							<div class="tt-mobile-product-slider arrow-location-center">
								{% for im in object.image_path_all %}
								<div><img src="{% static 'images/loader.svg' %}" data-src="{% static im %}" alt="{{ object.name }}"></div>
								{% endfor %}

								<!--<div>
									<div class="tt-video-block">
										<a href="#" class="link-video"></a>
										<video class="movie" src="{% static 'video/video.mp4' %}" poster="{% static 'video/video_img.jpg' %}"></video>
									</div>
								</div>-->
							</div>
						</div>
						<div class="col-12 col-md-7 col-lg-6">
							<div class="tt-product-single-info">
								<div class="tt-add-info">
									<ul>
										<li><span>ПРОИЗВОДИТЕЛЬ:</span> {{ object.brand }}</li>
										<li><span>Наличие:</span> больше 2</li>
									</ul>
								</div>
								<h2 class="tt-title">{{ object.name|truncatechars:50|upper }}</h2>
								<div class="tt-price">
									<span class="new-price">&#x20bd; {{ object.price }}</span>
									<span class="old-price"></span>
								</div>
								<div class="tt-review">
                                    {% ratings object 16 16 %}
								</div>
								<div class="tt-wrapper">
									{% if object.description %}
									{{ object.description }}
									{% endif %}
								</div>
								<div class="tt-wrapper">
									<div class="tt-row-custom-01">
										<div class="col-item">
											<div class="tt-input-counter style-01">
												<span class="minus-btn"></span>
												<input type="text" value="1" size="5">
												<span class="plus-btn"></span>
											</div>
										</div>
										<div class="col-item">
                                            <a href="{% url 'add_to_cart' %}?product_id={{ object.id  }}" id="cart_button-{{ object.id }}" class="btn btn-lg cart_button" data-pk="{{ object.id  }}"><i class="icon-f-39"></i>В Корзину</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>