<div>
    <div itemscope itemtype="http://schema.org/Product">
        <meta content="925872" itemprop="mpn" />
        <meta content="Executive Anvil" itemprop="name" />
        <link href="https://example.com/photos/16x9/photo.jpg" itemprop="image" />
        <link href="https://example.com/photos/4x3/photo.jpg" itemprop="image" />
        <link href="https://example.com/photos/1x1/photo.jpg" itemprop="image" />
        <meta content="Sleeker than ACME's Classic Anvil, the Executive Anvil is perfect for the business traveler looking for something to drop from a height." itemprop="description" />
        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
            <link href="https://example.com/anvil" itemprop="url" />
            <meta content="https://schema.org/InStock" itemprop="availability" />
            <meta content="USD" itemprop="priceCurrency" />
            <meta content="https://schema.org/UsedCondition" itemprop="itemCondition" />
            <meta content="119.99" itemprop="price" />
            <meta content="2020-11-05" itemprop="priceValidUntil" />
            <div itemprop="seller" itemscope itemtype="http://schema.org/Organization">
            <meta content="Executive Objects" itemprop="name" />
            </div>
        </div>
        <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
          <meta content="89" itemprop="reviewCount" />
          <meta content="4.4" itemprop="ratingValue" />
        </div>
        <div itemprop="review" itemscope itemtype="http://schema.org/Review">
            <div itemprop="author" itemscope itemtype="http://schema.org/Person">
            <meta content="Fred Benson" itemprop="name" />
            </div>
            <div itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
            <meta content="4" itemprop="ratingValue" />
            <meta content="5" itemprop="bestRating" />
            </div>
        </div>
        <meta content="0446310786" itemprop="sku" />
        <div itemprop="brand" itemscope itemtype="http://schema.org/Thing">
          <meta content="ACME" itemprop="name" />
        </div>
    </div>
</div>