{% extends 'base.html' %}
{% load static %}
{% block page %}
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="index.html">Home</a></li>
			<li>Blog</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<h1 class="tt-title-subpages noborder">THE BLOG</h1>
			<div class="row">
				<div class="col-sm-12 col-md-8 col-lg-9">
					<div class="tt-listing-post">
						<div class="tt-post">
							<div class="tt-post-img">
								<a href="blog-single-post.html"><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/blog/blog-post-img-01.jpg' %}" alt=""></a>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Labore Et Dolore Magna Sliqua Ut Enim ad Minim Veniam</a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<a href="blog-single-post.html"><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/blog/blog-post-img-02.jpg' %}" alt=""></a>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Veniam Quis Nostrud Exercitation Ullamco Laboris</a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<a href="blog-single-post.html"><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/blog/blog-post-img-03.jpg' %}" alt=""></a>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Nisi Ut Aliquip Ex ea Commodo </a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<a href="blog-single-post.html"><img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/blog/blog-post-img-04.jpg' %}" alt=""></a>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
							 	<h2 class="tt-title"><a href="blog-single-post.html">Dolore Magna Sliqua Ut Enim ad Minim Veniam</a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="tt-slider-blog arrow-location-01 slick-animated-show-js">
									<div><a href="blog-single-post-gallery.html"><img src="{% static 'images/blog/blog-post-img-06.jpg' %}" alt=""></a></div>
									<div><a href="blog-single-post-gallery.html"><img src="{% static 'images/blog/blog-post-img-02.jpg' %}" alt=""></a></div>
									<div><a href="blog-single-post-gallery.html"><img src="{% static 'images/blog/blog-post-img-03.jpg' %}" alt=""></a></div>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post-gallery.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post-gallery.html">Enim ad Minim Veniam Quis Nostrud Ullamco Laboris Nisi </a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post-gallery.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="embed-responsive embed-responsive-16by9">
									<iframe class="embed-responsive-item" src="{% static 'images/loader.svg' %}" data-src="http://www.youtube.com/embed/GhyKqj_P2E4" allowfullscreen></iframe>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Enim ad Minim Veniam Quis Nostrud Ullamco Laboris Nisi </a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-img">
								<div class="tt-video-block">
									<a href="#" class="link-video"></a>
									<video class="movie" src="{% static 'video/video.mp4' %}" poster="{% static 'video/video_img.jpg' %}"></video>
								</div>
							</div>
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Enim ad Minim Veniam Quis Nostrud Ullamco Laboris Nisi </a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post.html">Enim ad Minim Veniam Quis Nostrud Ullamco Laboris Nisi</a></h2>
								<div class="tt-description">
									Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post-audio.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post-audio.html">Minim Veniam Quis Nostrud Ullamco Laboris Nisi </a></h2>
								<div class="tt-description">
									<audio controls>
										<source src="{% static 'sound/sound.mp3' %}">
									</audio>
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post-audio.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-content">
								<div class="tt-description">
									<a href="blog-single-post-quote.html">
										<blockquote class="tt-blockquote add-hover">
											<i class="tt-icon icon-g-56"></i>
											<span class="tt-title">War and Marketing Have Many Similarities</span>
											<span class="tt-title-description">— <span>DANIEL BROWN</span></span>
										</blockquote>
									</a>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post-quote.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-post">
							<div class="tt-post-content">
								<div class="tt-tag"><a href="blog-single-post-link.html">FASHION</a></div>
								<h2 class="tt-title"><a href="blog-single-post-link.html">Ullamco Laboris Nisi Ut Aliquip Ex ea Commodo </a></h2>
								<div class="tt-description">
									<a href="product.html" target="_blank" class="tt-box-link">
										<i class="tt-icon icon-g-60"></i>Wokiee - Responsive HTML5 Template
									</a>
									<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
								</div>
								<div class="tt-meta">
									<div class="tt-autor">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
									<div class="tt-comments">
										<a href="#"><i class="tt-icon icon-f-88"></i>7</a>
									</div>
								</div>
								<div class="tt-btn">
									<a href="blog-single-post-link.html" class="btn">READ MORE</a>
								</div>
							</div>
						</div>
						<div class="tt-pagination">
							<!-- <a href="#" class="btn-pagination btn-prev"></a> -->
							<ul>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
								<li><a href="#">3</a></li>
							</ul>
							<a href="#" class="btn-pagination btn-next"></a>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-4 col-lg-3 rightColumn">
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">CATEGORIES</h3>
						<div class="tt-aside-content">
							<ul class="tt-list-row">
								<li><a href="#">All</a></li>
								<li><a href="#">Markup</a></li>
								<li><a href="#">News</a></li>
								<li><a href="#">Announcements</a></li>
								<li><a href="#">Trends &amp; Cravings</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">SEARCH</h3>
						<div class="tt-aside-content">
							<form class="form-default">
								<div class="tt-form-search">
									<input type="text" class="form-control">
									<button type="submit" class="tt-btn-icon icon-f-85"></button>
								</div>
							</form>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">ABOUT</h3>
						<div class="tt-aside-content">
							<div class="tt-aside-info">
								<a href="#" class="tt-aside-img">
									<img src="{% static 'images/loader.svg' %}" data-src="{% static 'images/blog/blog-post-img-07.jpg' %}" alt="">
								</a>
								<p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.</p>
								<a href="#" class="btn-link btn-top">READ MORE</a>
							</div>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">TAGS</h3>
						<div class="tt-aside-content">
							<ul class="tt-list-inline">
								<li><a href="#">Dresses</a></li>
								<li><a href="#">Shirts &amp; Tops</a></li>
								<li><a href="#">Polo Shirts</a></li>
								<li><a href="#">Sweaters</a></li>
								<li><a href="#">Blazers</a></li>
								<li><a href="#">Vests</a></li>
								<li><a href="#">Jackets</a></li>
								<li><a href="#">Outerwear</a></li>
								<li><a href="#">Activewear</a></li>
								<li><a href="#">Pants</a></li>
								<li><a href="#">Jumpsuits</a></li>
								<li><a href="#">Shorts</a></li>
								<li><a href="#">Jeans</a></li>
								<li><a href="#">Skirts</a></li>
								<li><a href="#">Swimwear</a></li>
							</ul>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">NEWSLETTER SIGNUP</h3>
						<div class="tt-aside-content">
								<div class="tt-aside-subscribe-box">
								<p>
									Sign up for our e-mail and be the first who know our special offers! Furthermore, we will give a 15% discount on the next order after you sign up.
								</p>
								<form class="form-default">
									<div class="form-group">
										<input type="text" name="name" class="form-control" id="inputName" placeholder="Enter your e-mail">
									</div>
									<button type="submit" class="btn">GET!</button>
								</form>
							</div>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">RECENT POST</h3>
						<div class="tt-aside-content">
							<div class="tt-aside-post">
								<div class="item">
									<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
									<a href="#">
										<div class="tt-title">Lorem ipsum dolor sit amet</div>
										<div class="tt-description">
											Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</a>
									<div class="tt-info">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
								</div>
								<div class="item">
									<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
									<a href="#">
										<div class="tt-title">Lorem ipsum dolor sit amet</div>
										<div class="tt-description">
											Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</a>
									<div class="tt-info">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
								</div>
								<div class="item">
									<div class="tt-tag"><a href="blog-single-post.html">FASHION</a></div>
									<a href="#">
										<div class="tt-title">Lorem ipsum dolor sit amet</div>
										<div class="tt-description">
											Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</a>
									<div class="tt-info">
										by <span>ADRIAN</span> on January 14, 2017
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">RECENT COMMENTS</h3>
						<div class="tt-aside-content">
							<div class="tt-aside-post">
								<div class="item">
									<div class="tt-info">
										January 14, 2017 <span>ADRIAN</span> on
									</div>
									<a href="#">
										<div class="tt-title">Lorem ipsum dolor sit amet</div>
										<div class="tt-description">
											Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</a>
								</div>
								<div class="item">
									<div class="tt-info">
										January 14, 2017 <span>ADRIAN</span> on
									</div>
									<a href="#">
										<div class="tt-title">Lorem ipsum dolor sit amet</div>
										<div class="tt-description">
											Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">FOLLOW US</h3>
						<div class="tt-aside-content">
							<ul class="tt-social-icon">
								<li><a class="icon-g-64" href="http://www.facebook.com/"></a></li>
								<li><a class="icon-h-58" href="http://www.facebook.com/"></a></li>
								<li><a class="icon-g-66" href="http://www.twitter.com/"></a></li>
								<li><a class="icon-g-67" href="http://www.google.com/"></a></li>
								<li><a class="icon-g-70" href="https://instagram.com/"></a></li>
							</ul>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">CALENDAR</h3>
						<div class="tt-aside-content">
							<div class="calendarDatepicker" data-date="12-09-2016" data-date-format="dd-mm-yyyy"></div>
						</div>
					</div>
					<div class="tt-block-aside">
						<h3 class="tt-aside-title">ARCHIVE</h3>
						<div class="tt-aside-content">
							<form class="form-default">
								<div class="box-archives">
									<select class="select form-control">
										<option>July 2016</option>
										<option>July 2015</option>
										<option>July 2014</option>
									</select>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
