{% extends 'base.html' %}
{% load static %}
{% load extras %}
{% load ratings %}
{% block meta %}
	{% if request.GET.page  %}
		<link rel="canonical" href="{{ request.path }}" />
	{% endif %}
{% endblock meta %}
{% block page_title %}Советы по выбору запчастей для автомобилей{% for car in cars %} {{ car.car|upper }}{% endfor %}{% endblock page_title %}


{% block page_keywords %}
	{% for car in cars %}Запчасти для {{ car.car|upper }},&nbsp;{% endfor %}
{% endblock page_keywords %}

{% block page_description %}
	Полезные статьи, исследования, наблюдения касающиеся эксплуатации, ремонта а так же выбора запчастей для автомобилей{% for car in cars %}{{ car.car|upper }} {% endfor %} {% endblock page_description %}
{% block page %}

<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ object.get_absolute_url }}"
  },
  "headline": "{{ object.title }}",
  "image": [
    "{{ object.image.url }}"
   ],
  "datePublished": "{{ object.publish|date:'Y-m-d' }}",
  "dateModified": "{{ object.modified|date:'Y-m-d' }}",
  "author": {
    "@type": "Person",
    "name": "{{ object.author }}"
  },
   "publisher": {
    "@type": "Organization",
    "name": "{{ shop_info.company_name }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{% static 'logo.png' %}"
    }
  },
  "description": "{{ object.short_desc }}"
}
</script>
<div class="tt-breadcrumb">
	<div class="container">
		<ul>
			<li><a href="{% url 'home' %}">Главная</a></li>
			<li><a href="{% url 'blogs' %}">Блог</a></li>
			<li>{{ object.title|title }}</li>
		</ul>
	</div>
</div>
<div id="tt-pageContent">
	<div class="container-indent">
		<div class="container container-fluid-custom-mobile-padding">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-10 col-lg-8 col-md-auto">
					<div class="tt-post-single">
						<div class="tt-tag"><a href="{% url 'subcat' object.category.slug %}">{{ object.category.name|upper }}</a></div>
						<h1 class="tt-title">
							{{ object.title }}
						</h1>
						<div class="tt-autor">by <span>{{ object.author }}</span> on <span>{{ object.publish }}</span>

						</div>
						<div class="tt-post-content">
							<img src="images/loader.svg" data-src="{{ object.image.url }}" alt="{{ object.title }}">
							{{ object.text|safe }}
						</div>
						<div class="post-meta">
                            <span>{% ratings object 16 16 %}</span>
							<!--<span class="item">
								<span>Tag:</span> <span><a href="#">FASHION</a></span>, <span class="mr-4"><a href="#">STYLE</a></span>
							</span>-->
                            <span style="float:right;">Прочитано <span class="badge badge-pill badge-secondary">{{ object.number_views }}</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-indent wrapper-social-icon">
		<div class="container">
			<ul class="tt-social-icon justify-content-center">
				<li><a class="icon-g-64" href="http://www.facebook.com/"></a></li>
				<li><a class="icon-h-58" href="http://www.facebook.com/"></a></li>
				<li><a class="icon-g-66" href="http://www.twitter.com/"></a></li>
				<li><a class="icon-g-67" href="http://www.google.com/"></a></li>
				<li><a class="icon-g-70" href="https://instagram.com/"></a></li>
			</ul>
		</div>
	</div>
	<div class="container-indent">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-xs-12 col-md-10 col-lg-8 col-md-auto">
					<div class="comments-single-post">
						<h6 class="tt-title-border">ПОХОЖИЕ ПОСТЫ</h6>
						<div class="tt-blog-thumb-list">
							<div class="row">
								{% for rel in related %}
								<div class="col-sm-6">
									<div class="tt-blog-thumb">
										<div class="tt-img"><a href="{% url 'blog' rel.slug %}" target="_blank"><img src="images/loader.svg" data-src="{{ rel.image.url }}" alt="{{ rel.title }}"></a></div>
										<div class="tt-title-description">
											<div class="tt-background"></div>
											<div class="tt-tag">
												<a href="{% url 'subcat' rel.category.slug %}">{{ rel.category.name }}</a>
											</div>
											<div class="tt-title">
												<a href="{% url 'subcat' rel.category.slug %}">{{ rel.title|upper }}</a>
											</div>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% include 'snippets/comments.html' %}
</div>
{% endblock %}
