{% extends 'admin/dictionary/dict_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_title %}Выбрать Кампании{% endblock %}
{% block page_content %}

<div class="wrapper-my container-fluid">
    <div class="row mb-2">
        <div class="col-2">
            <h2 class="bblue"><span class="bgreen">Машина:</span> {{ request.session.car }}</h2>
        </div>
        <div class="col-4 pt-1">
            <!--<form action="." method="post" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    {{ carform.car|as_crispy_field }}
                </div>
                <input type="hidden" name="select_car" value="submited">
                <button type="submit" class="btn btn-outline-primary btn-sm ml-2">Выбрать машину</button>
            </form>-->
        </div>
    </div>
    <hr>
    <div class="row list-style-group mt-1 form-control-custom">
        <div class="col-12 words-group">
            <table class="table table-bordered campaign-table">
                <thead>
                <tr>
                    <th scope="col">Кампания</th>
                    <th scope="col">Заполнить по ядру</th>
                    <th scope="col">Удалить Группы</th>
                    <th scope="col">Шаблоны</th>
                    <th scope="col">Заполнить по шаблону</th>
                    <th scope="col">Удалить по шаблону</th>
                    <th scope="col">Скопировать пути</th>
                    <th scope="col">Google CSV</th>
                    <th scope="col">Yandex CSV</th>
                </tr>
                </thead>
                <tbody>
                {% for object in objects %}
                    <tr>
                        <th scope="row"><a class="bred" href="{% url 'ad:singlecamp' object.id %}" title="Показать все группы">{{ object.camp_name }} ({{ object.num_ads }})</a> | <a href="{% url 'ad:adgroupview' object.id %}">Группы</a> </th>
                        <td><a href="{% url 'ad:main' object.id %}" title="Сформировать Группы по Ядру машины">Заполнить</a></td>
                        <td><a class="bred" href="{% url 'ad:adgroupsdelete' object.id %}" title="Удалить Группы"><i class="fa fa-trash" aria-hidden="true" ></i></a></td>
                        <td><a href="{% url 'ad:adtemplate' object.id %}" title="Сделать шаблоны объявлений">Работа с Шаблонами</a></td>
                        <td><a class="bgreen" href="{% url 'ad:maketemplates' object.id %}" title="Заполнить все Группы из шаблонов">Заполнить по шаблонам</a></td>
                        <td><a class="bred" href="{% url 'ad:maketemplates' object.id %}?delete_templates=True" title="Очищает все объявления привязанные к группе. Будьте осторожны!"><i class="fa fa-trash" aria-hidden="true" ></i> Удалить заполн по шаблонам</a></td>
                        <td><a class="bblue" href="{% url 'ad:makesamepath' object.id %}" title="Копирует видимые пути урла во все три обьявления только внутри группы">Скопировать пути</a></li></td>
                        <td><a href="{% url 'ad:googlecsv' object.id %}">Google_CSV</a> </td>
                        <td><a href="{% url 'ad:yandexcsv' object.id %}">Yandex_CSV</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <h6>Создать новую кампанию</h6>
            <form action="." method="post">
                {% csrf_token %}
                {{ campform|crispy }}
                <input type="hidden" name="camp_create" value="True">
                <button type="submit" class="btn btn-primary btn-sm mt-3">Создать Новую</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/ads.js' %}"></script>
{% endblock %}
