{% extends 'admin/dictionary/dict_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_content %}

<div class="wrapper-my container-fluid">
    <div class="row list-style-group mt-1">
        <div class="col-6">
            <h5 class="bblue">Категоризатор</h5>
             {% if cat_count %}
            <h5><span class="bgreen">Успешно {{ cat_count }} строк!</span> | <span class="bred2">НЕ Успешно {{ not_cat_count }} строк!</span> </h5>
            {% endif %}
                <ol>
                    <li>Приготовьте таблицу для категоризации. В таблице должны быть как минимум 2 поля. <span class="bgreen">name</span> и <span class="bgreen">parent_id</span></li>
                    <li>Загрузите её в базу данных ducatoparts на удаленном сервере.</li>
                    <li>Нажмите категоризировать.</li>
                </ol>
             <a class="mk-alert btn btn-outline-success mb-3" href="?mode=categorize" title="Прокатегоризировать">Категоризировать</a>
           <div>
                {% if request.session.categorized %}
               <h6><a class="download-file" href="{% url 'dictionary:getcsv' %}" download> Скачать Готовый Файл</a></h6>
               <p class="bgreen">Категоризировалось ядро {{ request.session.filename }}</p>
               {% endif %}
               <ul style="font-size:14px;">
                   {% for samp in sample %}
                   <li>{{ samp }}</li>
                   {% endfor %}
               </ul>
           </div>
        </div>
        <div class="col-6">
            <h5 class="bblue">Загруженные файлы</h5>
            <p>Загрузит новые файлы или удалить можно <a href="{% url 'dictionary:insert_kernel' 'view' %}">здесь</a> </p>
            <ul>
            {% for f in files %}
                <li><a href="?filename={{ f }}&mode=preview" title="Посмотреть как выглядит файл">Предпросмотр</a> | <a href="{% url 'dictionary:insertdata' %}?filename={{ f }}&mode=preview" title="Засунуть файл в Mysql таблицу">В MySql</a> | <span class="bgreen" title="Название файла">{{ f }}</span></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/mkalert.js' %}"></script>
{% endblock %}
