{% extends 'admin/dictionary/dict_base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block page_content %}

<div class="wrapper-my container-fluid">
    <div class="row list-style-group mt-1">
        <div class="col-6">
            <h5 class="bblue">Категоризатор</h5>
             {% if cat_count %}
            <h5><span class="bgreen">Успешно {{ cat_count }} строк!</span> | <span class="bred2">НЕ Успешно {{ not_cat_count }} строк!</span> </h5>
            {% endif %}
                <ol>
                    <li>Закачайте файл для категоризации в форме справа. Можно посмотреть как файл выглядит.</li>
                    <li>Залейте его в базу Шаг 2)</li>
                    <li>Если нужно, очистить от общих минус слов, авито и тд. Шаг 3)</li>
                    <lb>Нажмите категоризировать. Шаг 4). Занимает несколько минут.</lb>
                    <li>Далее можно разделить ядро или номенклатуру на коммерческие и инфо запросы. Шаг 5).</li>
                    <li>На шаге 6) можно скачать готовые файлы инфо и коммерческих запросов.</li>
                </ol>



            {% for f in files %}
                <h6>2) <a href="{% url 'dictionary:insertdata' %}?filename={{ f }}&mode=preview" title="Засунуть файл в Mysql таблицу">Засунуть файл ядра( {{ f }} ) В MySql</a></h6>
            {% endfor %}
                <h6>3) <a class="clean-kernel" href="{% url 'dictionary:splitkernelclean' %}">Очистить Ядро от общих минус слов</a></h6>
                <div class="row">
                    <div class="col-6">
                        4) <a id="categorize-me" class="mk-alert" href="?mode=categorize" title="Прокатегоризировать">Категоризировать</a>
                    </div>
                    <div class="col-6">
                        <div id="loading-image" style="display:none;">
                            <img  class="img image-fluid" src="{% static 'images/other/loading.gif' %}" width="100">
                        </div>

                    </div>
                </div>
                <p id="show-counts"></p>
                <h6>5) <a class="split-kernel" href="{% url 'dictionary:splitkernel' %}">Разделить Ядро на Коммерческие и Инфо запросы</a></h6>
            <div class="alert-success-my">
            </div>
           <div>

               <p>6) <a class="download-file_" href="{% url 'dictionary:getcsv' 'comm' %}" download> Скачать Готовый Файл Commercial</a> | <a class="download-file_" href="{% url 'dictionary:getcsv' 'info' %}" download> Скачать Готовый Файл Info</a></p>


               <ul style="font-size:14px;">
                   {% for samp in sample %}
                   <li>{{ samp }}</li>
                   {% endfor %}
               </ul>
           </div>
        </div>
        <div class="col-6">
            <h5 class="bblue">Загруженные файлы Ядра для очистки и категоризации</h5>
            <form method="post" action="." enctype="multipart/form-data">{% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-outline-success" type="submit">Загрузить</button>
            </form>
            <ul class="mt-5">
            {% for f in files %}
                <li><a href="?filename={{ f }}&mode=preview" title="Посмотреть как выглядит файл">Предпросмотр</a> | <span class="bgreen" title="Название файла">{{ f }}</span> | <a class="mk-alert-del" href="{% url 'dictionary:categorizer' %}?filename={{ f }}&delete=True"><span class="bred2"> <i class="fa fa-trash" aria-hidden="true"></i></span></a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="{% static 'js/mkalert.js' %}"></script>
{% endblock %}
